<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-12 my-auto">
      <h4>Booking List</h4>
    </div>
    <div class="col-sm-6 col-12 my-auto">
      <div style="text-align:right;" class="form-group">
          <button class="btn btn-success btn-cb" type="button"
            routerLink="/booking/add">Add Booking</button>
      </div>
    </div>
  </div>
</div>
<br />

<app-card>
  <div class="container-fluid">

      <div class="row">
          <div class="col-lg-6 col-6">
              <div style="text-align:left;">
                  <div class="form-group">
                      <input class="form-control cust-search-button" #query (keyup)="getSearch(query.value)" placeholder="Search by name or phone number" type="text"
                      />
                  </div>
              </div>
          </div>

          <div class="col-lg-6 col-6">
              <div style="text-align:right;">
                  <div class="form-group">
                      <label for="show">Show</label>
                      <select class="form-control input-sm full-data-show-entry cust-select" name="select" id="show" (change)="onChange($event.target.value)">
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="75">75</option>
                      </select>
                  </div>
              </div>
          </div>
          <br>
      </div>

    <div class="table-responsive">
      <table class="table table-stripped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date & Time</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Class</th>
            <th>Bill</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr routerLink="/booking/detail/{{book.id}}"*ngFor="let book of booking">
            <td>{{book.customer_name}}</td>
            <td>{{book.date_booking}}</td>
            <td>{{book.customer_phone}}</td>
            <td>{{book.address}}</td>
            <td>{{book.class_booking}}</td>
            <td>{{book.bill}}</td>
            <td>
              <div *ngIf="book.status_booking == 'APPROVED'" style="color: #d9534f">UNPAID</div>
              <div *ngIf="book.status_booking == 'PAID'" style="color: green">PAID</div>
              <div *ngIf="book.status_booking == 'BOOKED'" style="color: #f0ad4e">PENDING</div>
              <div *ngIf="book.status_booking == 'COMPLETED'" style="color: #337ab7">COMPLETED</div>
              <!-- #337ab7 -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="justify-content-center testtt">
      <span class="test-pagination">Page</span>
      <ngb-pagination [collectionSize]="totalItems" [pageSize]="limit"
        [(page)]="page" (pageChange)="loadPage($event)" aria-label="Default
        pagination"
        [directionLinks]="false"></ngb-pagination>
    </div>

  </div>
</app-card>
