<!-- <p><ngb-progressbar type="primary" [value]="uploader.progress"></ngb-progressbar></p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
        <h4>User Detail</h4><br>
    </div>
  </div>
</div>
<app-card>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-1 head-img">
        <img src="{{user.photo_selfie}}" class="img-center">
    </div>
    <div class="col-sm-10 col-xs-11 head"><br><br>
        <input type="file" accept=".jpg,.png,.jpeg" (change)="uploadFileCust($event)" >
    </div><br><br>
  </div>
  <hr>
  <div class="row">
    <ng-snotify class="material"></ng-snotify>
    <div class="col-sm-12 col-md-6">
       <fieldset>
          <div [formGroup]="formUserEdit">
            <div class="form-group row">
               <label class="col-sm-4 col-form-label" for="name" >Fullname
               </label>
               <div class="col-sm-8">
                  <input type="text" class="form-control round" [(ngModel)] ="user.full_name" formControlName="fullName">
                  <div class="m-t-5" style="color:red" *ngIf="fullName.invalid">
                    <div *ngIf="fullName.touched && fullName.errors.required">Name is required</div>
                    <div *ngIf="fullName.errors.pattern">Name must be in characters</div>
                    <div *ngIf="fullName.errors.minlength">Name must be 3-50 characters</div>
                    <div *ngIf="fullName.errors.maxlength">Name must be 3-50 characters</div>
                  </div>
               </div>
            </div>
          </div>
          <div class="form-group row">
             <label class="col-sm-4 col-form-label" for="email">Email
             </label>
             <div class="col-sm-8">
                <input type="email" class="form-control round" readonly [(ngModel)]="user.email">
             </div>
          </div>
          <div [formGroup]="formUserEdit">
          <div class="form-group row">
             <label class="col-sm-4 col-form-label" for="address">Address
             </label>
             <div class="col-sm-8">
               <textarea rows="2" cols="3" class="form-control round" [(ngModel)]="user.address" formControlName="address"></textarea>
               <div class="m-t-5" style="color:red" *ngIf="address.invalid">
                  <div *ngIf="address.touched && address.errors.required">Address is required</div>
                  <div *ngIf="address.errors.minlength">Address must be 15-50 characters</div>
                  <div *ngIf="address.errors.maxlength">Address must be 15-50 characters</div>
                </div>
             </div>
          </div>
        </div>
       </fieldset>
    </div>
    <div class="col-sm-12 col-md-6">
       <fieldset>
        <div [formGroup]="formUserEdit">
         <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="phone">Phone
            </label>
            <div class="col-sm-8">
              <input name="phone" type="text" class="form-control round" [(ngModel)]="user.phone" formControlName="phone">
              <div class="m-t-5" style="color:red" *ngIf=" !phone.valid">
                <div *ngIf="phone.touched && phone.errors.required">Phone is required</div>
                <div *ngIf="phone.errors.pattern">Phone number must be '08' followed by 8 to 11 more numbers</div>
                <!-- <div *ngIf="phone.errors.maxlength">Phone must be 10-13 characters</div>
                <div *ngIf="phone.errors.minlength">Phone must be 10-13 characters</div> -->
              </div>
            </div>
         </div>
        </div>
          <div class="form-group row">
             <label class="col-sm-4 col-form-label" for="since">Since
             <!-- {{user.since}} -->
             </label>
             <div class="col-sm-8">
                <input name="since" type="text" class="form-control round" [(ngModel)]="user.date_created" readonly>
             </div>
          </div>
          <div class="form-group row">
             <label class="col-sm-4 col-form-label" for="status">Status
             </label>
             <div class="col-sm-8">
                <input name="status" type="text" class="form-control round" [(ngModel)]="user.status" readonly>
             </div>
          </div>
       </fieldset>
    </div>
 </div>
 <h4 class="sub-title"></h4>
  <div class="row justify-content-end">
    <div class="col-lg-3 col-md-12">
        <div class="form-group">
            <button class="btn btn-danger round btn-block" (click)="clickCancel()">Cancel</button>
        </div>
    </div>
    <div class="col-lg-3 col-md-12">
        <div class="form-group">
            <button class="btn btn-success round btn-block" (click)="updateUser()">Save</button>
        </div>
    </div>
  </div>
</app-card>
