<!--profile cover start-->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->


<app-card>
  <div class="row">
    <div class="col-lg-2 col-xs-12">
      <div class="head-img-cust">
          <img src="{{detailTrainer.url_photo_trainer}}">
      </div>    </div>
    <div class="col-lg-3 col-xs-12">
      <div class="row">
        <div class="col-lg-5 col-6">
          <p>Rating</p>
        </div>
        <div class="col-lg-7 col-6">
          <p class="f-20" style="margin-top: -5px"><strong>{{detailTrainer.rating}}</strong><i class="ti-star"></i></p>
        </div>
        <div class="col-lg-5 col-6">
          <p>Reviews</p>
        </div>
        <div class="col-lg-7 col-6">
          <p>-</p>
        </div>
        <div class="col-lg-5 col-6">
          <p>Status</p>
        </div>
        <div class="col-lg-7 col-6">
          <p>-</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <div class="row">
        <div class="col-lg-5 col-6">
          <p>No Rek</p>
        </div>
        <div class="col-lg-7 col-6">
          <p>{{detailTrainer.bank.name}}</p>
          <p>{{detailTrainer.no_rek}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xs-12">
      <button class="btn btn-info btn-block input-round"(click)="goToEditDetail()">Edit Profile</button>
      <!-- <button class="btn btn-info btn-block">Add Wallet</button> -->

    </div>
  </div>
</app-card>

<app-card>
  <div class="row">
    <ng-snotify class="material"></ng-snotify>
    <div class="col-lg-6 col-md-6">
      <fieldset>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label">Fullname</label>
          <div class="col-lg-8">
            <input type="text" class="form-control input-round" [(ngModel)]="detailTrainer.name" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="email">Email</label>
          <div class="col-lg-8">
            <input type="email" class="form-control input-round" [(ngModel)]="detailTrainer.email" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="gender">Gender</label>
          <div class="col-lg-8">
            <input type="text" class="form-control input-round" value="Male" *ngIf="detailTrainer.gender == 'M'" readonly>
            <input type="text" class="form-control input-round" value="Female" *ngIf="detailTrainer.gender == 'F'" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="address">Address</label>
          <div class="col-lg-8">
            <textarea rows="2" cols="3" class="form-control input-round" [(ngModel)]="detailTrainer.address" readonly></textarea>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-lg-6 col-md-6">
      <fieldset>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="phone">Phone</label>
          <div class="col-lg-8">
            <input name="phone" type="text" class="form-control input-round" [(ngModel)]="detailTrainer.phone" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="no_ktp">KTP Number</label>
          <div class="col-lg-8">
            <input name="no_ktp" type="text" class="form-control input-round" [(ngModel)]="detailTrainer.no_ktp" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="no_npwp">NPWP Number</label>
          <div class="col-lg-8">
            <input name="no_npwp" type="text" class="form-control input-round" [(ngModel)]="detailTrainer.no_npwp" readonly>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <h4 class="sub-title"></h4>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <fieldset>
        <div class="row">
          <label class="col-sm-4 col-form-label">Specialities</label>
          <div class="col-lg-4 col-6">
            <div class="form-group" *ngFor="let spec of detailTrainer.trainer_speciality">
              <input type="text" class="form-control input-round" value="{{spec.name}}" readonly>
            </div>
          </div>
          <div class="col-lg-4 col-6">
            <div class="form-group" *ngFor="let spec of detailTrainer.trainer_speciality">
              <input type="text" class="form-control input-round" currencyMask [options]="{ align: 'left', prefix: 'Rp ', precision: '', thousands: '.', decimal: ',' }" [(ngModel)]="spec.price" readonly>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="row">
        <div class="col-lg-4 col-form-label">Schedule</div>
        <div class="col-lg-8">
          <div class="form-group row" *ngFor="let time of detailTrainer.day">
            <div class="col-lg-6 col-6">
              <input type="text" class="form-control input-round" value="{{time.name}}" readonly>
            </div>
            <div class="col-lg-6  col-6">
              <div *ngFor="let shift of time.shift">
                <input type="text" class="form-control input-round" style="text-align: center" *ngIf="shift.start_time.minute < 10 && shift.end_time.minute <10"
                  value="{{shift.start_time.hour}}:0{{shift.start_time.minute}} - {{shift.end_time.hour}}:0{{shift.end_time.minute}}"
                  readonly>
                <input type="text" class="form-control input-round" style="text-align: center" *ngIf="shift.start_time.minute > 9 && shift.end_time.minute <10"
                  value="{{shift.start_time.hour}}:{{shift.start_time.minute}} - {{shift.end_time.hour}}:0{{shift.end_time.minute}}"
                  readonly>
                <input type="text" class="form-control input-round" style="text-align: center" *ngIf="shift.start_time.minute < 10 && shift.end_time.minute > 9"
                  value="{{shift.start_time.hour}}:0{{shift.start_time.minute}} - {{shift.end_time.hour}}:{{shift.end_time.minute}}"
                  readonly>
                <input type="text" class="form-control input-round" style="text-align: center" *ngIf="shift.start_time.minute > 9 && shift.end_time.minute > 9"
                  value="{{shift.start_time.hour}}:{{shift.start_time.minute}} - {{shift.end_time.hour}}:{{shift.end_time.minute}}"
                  readonly>
                  <input type="text" class="form-control input-round" style="text-align: center" value="{{shift.shift_range}} hours range"
                  readonly>
                  <br>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="sub-title"></h4>
  <!-- {{detailTrainer.day.shift.shift_range}} -->
</app-card>
<!--
<div class="row">

  <div class="col-lg-6">
    <h4>Trainer List</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
</div> -->

<!-- <app-card>
  <ngb-tabset>
    <ngb-tab title="All">
      <ng-template ngbTabContent>
        <div class="table-responsive">
          <table class="table table-stripped table-hover">
            <thead>
              <tr>
                <th>Date & Time</th>
                <th>Customer</th>
                <th>Status</th>
                <th>Payment</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trainer of trainers">
                <td>{{trainer.dateTime}}</td>
                <td>{{trainer.customer}}</td>
                <td>{{trainer.status}}</td>
                <td>{{trainer.payment}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-6">
            <div class="form-group row">
              <label class="col-lg-4 col-form-label" for="kredit">Kredit</label>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-6">
            <div class="form-group row">
              <label class="col-lg-10 col-form-label" for="priceKredit" style="text-align: right">Rp.</label>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-6">
            <div class="form-group row">
              <label class="col-lg-4 col-form-label" for="debet">Debet</label>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-6">
            <div class="form-group row">
              <label class="col-lg-10 col-form-label" for="priceDebet" style="text-align: right">Rp.</label>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Debet">
      <ng-template ngbTabContent>
        <div class="table-responsive">
          <table class="table table-stripped table-hover">
            <thead>
              <tr>
                <th>Date & Time</th>
                <th>Customer</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trainer of trainers">
                <td>{{trainer.dateTime}}</td>
                <td>{{trainer.customer}}</td>
                <td>{{trainer.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-6">
            <div class="form-group row">
              <label class="col-lg-4 col-form-label" for="Debet">Debet</label>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-6">
            <div class="form-group row">
              <label class="col-lg-10 col-form-label" for="priceDebet" style="text-align: right">Rp.</label>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Kredit">
      <ng-template ngbTabContent>
        <div class="table-responsive">
          <table class="table table-stripped table-hover">
            <thead>
              <tr>
                <th>Date & Time</th>
                <th>Customer</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trainer of trainers">
                <td>{{trainer.dateTime}}</td>
                <td>{{trainer.customer}}</td>
                <td>{{trainer.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-6">
            <div class="form-group row">
              <label class="col-lg-4 col-form-label" for="kredit">Kredit</label>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-6">
            <div class="form-group row">
              <label class="col-lg-10 col-form-label" for="priceKredit" style="text-align: right">Rp.</label>
            </div>
          </div>
        </div>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <h4 class="sub-title"></h4>


  <div class="row">
    <div class="col-lg-6 col-sm-6 col-6">
      <div class="form-group row">
        <label class="col-lg-4 col-form-label" for="total">Total</label>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6 col-6">
      <div class="form-group row">
        <label class="col-lg-10 col-form-label" for="priceTotal" style="text-align: right">Rp.</label>
      </div>
    </div>
  </div>

</app-card> -->
