.head-img-cust img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    /* margin-left: 200px; */
}
.table th{
    vertical-align: bottom;

}

.input-round{
    border-radius: 6px;
}

.btn-br{
    border-radius: 6px;
}

.table td {

    text-align: justify !important;
    overflow: hidden;
}
