<!-- 
<body class="p-fixed text-center">
  <div class="panel panel-group">
    <div class="pt-3">
      <h1>{{header}}</h1>
    </div>
    <div class="pt-3">
      <h5>Your account has been successfully created</h5>
      <p>you will be redirected to the login page in 5 second</p>
      
    </div>
    <div class="mt-5 mb-3">
      <a href="/authentication/login">Or you can click here</a>
    </div>
    
  </div>
</body> -->
<section [@fadeInOutTranslate3] class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
          <img  [@fadeInOutTranslate] class="user-img img-radius img-center" src="assets/images/mufit all logo.png">
          <form class="md-float-material">
            <div [@fadeInOutTranslate2] class=" content">
                <div  class="pt-3">
                    <h5>{{header}}</h5>
                    <p>{{header2}}</p>
                    <br>

                  </div>
            </div>
          </form>
      </div>
    </div>
  </div> -->
  <div class="auth-fluid" style="margin:auto">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-body auth-body">
              <div class="auth-box">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <img class="user-img img-radius img-center" src="assets/images/mufit all logo.png" width="50%">
                  </div>
                </div>
                <hr/>
                <div class="input-group">
                    <h5 style="color: black; position: center; margin: auto">{{header}}</h5>
                  <span class="md-line"></span>
                </div>
                <div class="input-group">
                    <p style="color: black; position: center; margin: auto">{{header2}}</p>
                  
                </div>
              
              <div class="card-footer text-muted">
                <p>&copy; 2017-2018</p>
              </div>
            </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- <div [@fadeInOutTranslate3] class="login  d-flex text-center bg-primary bgr">

<div [@fadeInOutTranslate] class="container">
<img class="user-img img-radius img-center" src="assets/images/mufit all logo.png">
  
  <div [@fadeInOutTranslate2] class="content">
    <div  class="pt-3">
      <h5>Your account has been successfully created</h5>
      <p>you will be redirected to the login page in 5 second</p>
      <p>Click <a href="/login">here </a>if the browser didn't redirect you</p>
      <br>

    </div>
  </div>
</div>
</div> -->
