body, html {
    height: 100%;
    margin: 0;
    padding: 100px;
    
}

.bgr {
    /* The image used */
    background-image: url("../../../../assets/images/mbr-1566x1080.jpg");

 
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.content {
    
    margin: 0 auto;
    position: center; /* Position the background text */
    background: rgba(255,255,255,0.4);
    color: black; 
    width: 500px;
    -webkit-box-shadow: 0 5px 15px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
@media screen and (max-width: 600px) {
    .bgr{
        height: 100%
    }
    .img-center{
        width: 50%;
    }
    .content{
    text-align: center; 
    width: 80%;
        
    }
}