
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h4>List Trainer</h4>
      </div>
      <div class="col-sm-6">
        <div style="text-align:right;">
          <div class="form-group cust-btn">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

<app-card>

    <div class="container-fluid">
        <!-- <form>
            <div class="form-group row">
                <div class="col-xs-2">
                    <input class="form-control cust-search-button" #query (keyup)="getSearch(query.value)" placeholder="Find here.." type="text"/>
                </div>
            </div>
        </form> -->

        <div class="row">

            <div class="col-lg-6 col-6">
                <div style="text-align:left;">
                    <div class="form-group">
                        <input class="form-control cust-search-button" #query (keyup)="getSearch(query.value)" placeholder="Search by name or phone" type="text"
                        />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-6">
                <div style="text-align:right;">
                    <div class="form-group">
                        <label for="show">Show</label>
                        <select class="form-control input-sm full-data-show-entry cust-select" name="select" id="show" (change)="onChange($event.target.value)">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="75">75</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="table-responsive">
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Speciality</th>
                    </tr>
                </thead>
                <tbody>
                    <tr routerLink="/trainer/profile/{{trainer.id}}"*ngFor="let trainer of trainers">
                        <td>{{trainer.name}}</td>
                        <td>{{trainer.email}}</td>
                        <td>{{trainer.phone}}</td>
                        <td>{{trainer.address}}</td>
                        <td>{{trainer.speciality}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="justify-content-center">
            <span class="test-pagination">Page</span>
            <ngb-pagination [collectionSize]="totalItems" [pageSize]="limit" [(page)]="page" (pageChange)="loadPage($event)" aria-label="Default pagination"
                [directionLinks]="false"></ngb-pagination>
        </div>

    </div>


</app-card>