<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-12 my-auto">
      <h4>Detail Voucher</h4>
    </div>
    <div class="col-sm-6 col-12 my-auto">
      <div style="text-align:right;" class="form-group">
        <!-- <div *ngFor="let b of formVoucher.list_user"> -->
        <button *ngIf="canDelete" class="btn btn-danger input-round waves-effect md-trigger" type="button" (click)="openSwalR()">Delete Voucher</button>
      <!-- </div>                 -->
        <button class="btn input-round btn-info " type="button" (click)="goToEditDetail()">Edit Voucher</button>
      </div>
    </div>
  </div>
</div>
<br />

<app-card>
  <div *ngIf="formVoucher.active == true" ><h5 style="color: green">Active</h5></div>
  <div *ngIf="formVoucher.active != true" ><h5 style="color: red">Expired</h5></div>  
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <fieldset>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="email">Voucher Code</label>
          <div class="col-sm-8">
            <input type="text" class="form-control input-round" [(ngModel)]="formVoucher.code" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="email">Description</label>
          <div class="col-sm-8">
            <textarea class="form-control input-round" style="min-height: 30px; max-height: 250px" [(ngModel)]="formVoucher.description"
              readonly></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="email">Start Date</label>
          <div class="col-sm-4">
            <input type="text" class="form-control input-round" [(ngModel)]="formVoucher.start_date" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="email">Expire Date</label>
          <div class="col-sm-4">
            <input class="form-control input-round" placeholder="End Date" [(ngModel)]="formVoucher.end_date" readonly>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="email">Voucher Type</label>
          <div class="col-sm-8">
            <div class="input-group">
              <select class="form-control input-round" [(ngModel)]="formVoucher.type" readonly>
                <option value="">- Please Select -</option>
                <option value="nominal">Direct Cut</option>
                <option value="percent">Discount</option>
              </select>
            </div>
            <div class="row">
              <div class="col-lg-7" *ngIf="formVoucher.type == 'nominal'">
                <input name="price" type="text" class="form-control input-round" [(ngModel)]="formVoucher.value" (keypress)="isNumber($event)"
                  placeholder="Amount" currencyMask [options]="{ align: 'left', prefix: 'Rp ', precision: '', thousands: '.', decimal: ',' }"
                  readonly />
              </div>
              <div class="col-lg-5" *ngIf="formVoucher.type == 'nominal'">
                <input type="text" class="form-control input-round" [(ngModel)]="formVoucher.quantity " (keypress)="isNumber($event)" placeholder="Quantity"
                  currencyMask [options]="{ align: 'left', prefix: 'x ', precision: '', thousands: '.', decimal: ',' }" readonly/>
              </div>
              <div class="col-lg-7" *ngIf="formVoucher.type == 'percent'">
                <input name="price" type="text" class="form-control input-round" [(ngModel)]="formVoucher.value" (keypress)="isNumber($event)"
                  placeholder="Amount" currencyMask [options]="{ align: 'left', prefix: '% ', precision: '', thousands: '.', decimal: ',' }"
                  readonly />
              </div>
              <div class="col-lg-5" *ngIf="formVoucher.type == 'percent'">
                <input type="text" class="form-control input-round" [(ngModel)]="formVoucher.quantity" (keypress)="isNumber($event)" placeholder="Quantity"
                  currencyMask [options]="{ align: 'left', prefix: 'x ', precision: '', thousands: '.', decimal: ',' }" readonly
                />
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
<br>
<br>
<h4>List User</h4>
<br>
  <div class="container-fluid">

      <div class="table-responsive">
          <table class="table table-stripped table-hover">
              <thead>
                  <tr>
                      <th>Customer Name</th>
                      <th>Phone Number</th>
                      <th>Redeem Date</th>
                  </tr>
              </thead>
              <tbody>
                  <tr routerLink="/voucher/detail/{{a.id}}" *ngFor="let a of formVoucher.list_user">
                      <td>{{a.customer_name}}</td>
                      <td>{{a.customer_phone}}</td>
                      <td>{{a.redeem_date}}</td>
                  </tr>
              </tbody>
          </table>
      </div>

      <!-- <div class="justify-content-center">
          <span class="test-pagination">Page</span>
          <ngb-pagination [collectionSize]="totalItems" [pageSize]="limit" [(page)]="page" (pageChange)="loadPage($event)" aria-label="Default pagination"
              [directionLinks]="false"></ngb-pagination>
      </div> -->

  </div>


</app-card>