<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h4>Add New Role</h4>
      </div>
      <div class="col-sm-6">
        <div style="text-align:right;">
          <div class="form-group cust-btn">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>


<app-card>
    <ngb-tabset>
        <ngb-tab title="Admin">
            <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                    <br>
                    <div class="row">
                        <ng-snotify class="material"></ng-snotify>
                        <div class="col-sm-12 col-md-6">
                            <fieldset>
                                <div [formGroup]="formCreate" class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="email">Email</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control input-round" [(ngModel)]="formCreateAdmin.email" formControlName="email">
                                        <div style="color: red" class="m-t-5" *ngIf="email.invalid">
                                            <div *ngIf="email.touched && email.errors.required">Email is required</div>
                                            <div *ngIf="email.errors.pattern">Email is invalid</div>
                                        </div>
                                    </div>
                                </div>
                                <div [formGroup]="formCreate" class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="full_name">Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-round" [(ngModel)]="formCreateAdmin.full_name" formControlName="fullName">
                                        <div style="color: red" class="m-t-5" *ngIf="fullName.invalid">
                                            <div *ngIf="fullName.touched && fullName.errors.required">Fullname is required</div>
                                            <div *ngIf="fullName.errors.pattern">Name must be in characters</div>
                                            <div *ngIf="fullName.errors.minlength">Name is must be 3-50 character</div>
                                            <div *ngIf="fullName.errors.maxlength">Name is must be 3-50 character</div>
                                        </div>
                                    </div>
                                </div>

                                <div [formGroup]="formCreate" class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="username">Username</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-round" [(ngModel)]="formCreateAdmin.username" formControlName="username">
                                        <div style="color: red" class="m-t-5" *ngIf=" username.invalid">
                                            <div *ngIf="username.touched && username.errors.required">Username is required</div>
                                            <div *ngIf="username.errors.minlength">Username is must be 3-50 character</div>
                                            <div *ngIf="username.errors.maxlength">Username is must be 3-50 character</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div [formGroup]="formCreate" class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="password">Password</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control input-round" [(ngModel)]="formCreateAdmin.password" formControlName="password">
                                        <div style="color: red" class="m-t-5" *ngIf=" password.invalid">
                                            <div *ngIf="password.touched && password.errors.required">Password is required</div>
                                            <div *ngIf="password.errors.minlength">Password is invalid</div>
                                            <div *ngIf="password.errors.maxlength">Password is invalid</div>
                                        </div>
                                    </div>
                                </div> -->
                                <div [formGroup]="formCreate" class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="address">Address</label>
                                    <div class="col-sm-8">
                                        <textarea rows="2" cols="3" class="form-control input-round" [(ngModel)]="formCreateAdmin.address" formControlName="address"></textarea>
                                        <div style="color: red" class="m-t-5" *ngIf="address.invalid">
                                            <div *ngIf="address.touched && address.errors.required">Address is required</div>
                                            <div *ngIf="address.errors.minlength">Address must be more than 15 characters</div>
                                            <div *ngIf="address.errors.maxlength">Address must be less than 200 characters</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <fieldset>
                                <div [formGroup]="formCreate" class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="no_ktp">KTP Number</label>
                                    <div class="col-sm-8">
                                        <input name="phone" type="text" class="form-control input-round" (keypress)="isNumber($event)" [(ngModel)]="formCreateAdmin.no_ktp" formControlName="noKtp">
                                        <div style="color: red" class="m-t-5" *ngIf="noKtp.invalid">
                                            <div *ngIf="noKtp.touched && noKtp.errors.required">KTP Number is required</div>
                                            <div *ngIf="noKtp.errors.pattern">KTP Number is invalid</div>
                                            <div *ngIf="noKtp.errors.minlength">KTP Number must be 16 digits</div>
                                            <div *ngIf="noKtp.errors.maxlength">KTP Number must be 16 digits</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="formCreateAdmin.url_ktp">KTP Picture</label>
                                    <div class="col-sm-8">
                                      <img src="{{formCreateAdmin.url_ktp}}" style="width: 200px; height: 133px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="url_ktp"></label>
                                    <div class="col-sm-8">
                                        <input type="file" (change)="uploadImgKtp($event)">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="no_npwp">NPWP Number</label>
                                    <div class="col-sm-8">
                                        <input name="no_npwp" type="text" class="form-control input-round" (keypress)="isNumber($event)" [(ngModel)]="formCreateAdmin.no_npwp">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="formCreateAdmin.url_npwp">NPWP Picture</label>
                                    <div class="col-sm-8">
                                      <img src="{{formCreateAdmin.url_npwp}}" style="width: 200px; height: 133px;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="url_npwp"></label>
                                    <div class="col-sm-8">
                                        <input type="file" (change)="uploadImgNpwp($event)">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <h4 class="sub-title"></h4>
                    <div class="row justify-content-end">
                        <div class="col-lg-3 col-md-12">
                            <div class="form-group">
                                <button class="btn btn-success input-round btn-block" (click)="createAdmin()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
      <ngb-tab title ="Customer">
        <ng-template ngbTabContent><ng-snotify class="material"></ng-snotify>
          <div [@fadeInOutTranslate] class= "m-t-15">
            <div [formGroup]="customerForm" (ngSubmit)="createCustomerX(customerForm.value)" #photo_selfiex>
              <br>
              <div class="row">
                <div class="col-sm-2 col-xs-1 head-img-cust">
                    <img src="{{formCreateCustomer.photo_selfie}}">
                </div>
                <div class="col-sm-10 col-xs-11 head"><br><br>
                    <input type="file" accept=".jpg,.png,.jpeg" (change)="uploadFileCust($event)">
                </div>
              </div><br>
                <div class="row">
                   <div class="col-sm-12 col-md-6">
                      <fieldset>
                         <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="name" >Name
                            </label>
                            <div class="col-sm-8">
                               <input type="text" class="form-control input-round" formControlName="full_name" placeholder="Fullname" [(ngModel)]="formCreateCustomer.full_name">
                               <div class="alert-danger m-t-5" *ngIf="customerForm.controls['full_name'].invalid" >
                                   <div *ngIf="customerForm.controls['full_name'].errors.required && customerForm.controls['full_name'].touched">Name is required</div>
                                   <div *ngIf="customerForm.controls['full_name'].errors.minlength">Name must be more than 3 characters</div>
                                   <div *ngIf="customerForm.controls['full_name'].errors.maxlength">Name must be less than 50 characters</div>
                                   <div *ngIf="customerForm.controls['full_name'].errors.pattern">Name must be in characters</div>
                               </div>
                            </div>
                         </div>
                         <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="email">Email
                            </label>
                            <div class="col-sm-8">
                               <input type="email" class="form-control input-round" formControlName="email" placeholder="Email" [(ngModel)]="formCreateCustomer.email">
                               <div class="alert-danger m-t-5" *ngIf="customerForm.controls['email'].invalid" >
                                   <div *ngIf="customerForm.controls['email'].errors.required && customerForm.controls['email'].touched">Email is required</div>
                                   <div *ngIf="customerForm.controls['email'].errors.pattern">Email is invalid</div>
                               </div>
                            </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label" for="address">Address
                                        </label>
                                        <div class="col-sm-8">
                                            <textarea rows="2" cols="3" class="form-control input-round" formControlName="address" placeholder="Address" [(ngModel)]="formCreateCustomer.address"></textarea>
                                            <div class="alert-danger m-t-5" *ngIf="customerForm.controls['address'].invalid">
                                                <div *ngIf="customerForm.controls['address'].errors.required && customerForm.controls['address'].touched">Address is required</div>
                                                <div *ngIf="customerForm.controls['address'].errors.minlength">Address must be more than 15 characters</div>
                                                <div *ngIf="customerForm.controls['address'].errors.maxlength">Address must be less than 200 characters</div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <fieldset>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label" for="phone">Phone
                                        </label>
                                        <div class="col-sm-8">
                                            <input name="phone" type="text" class="form-control input-round" (keypress)="isNumber($event)" formControlName="phone" placeholder="Phone" [(ngModel)]="formCreateCustomer.phone">
                                            <div class="alert-danger m-t-5" *ngIf="customerForm.controls['phone'].invalid">
                                                <div *ngIf="customerForm.controls['phone'].errors.required && customerForm.controls['phone'].touched">Phone number is required</div>
                                                <div *ngIf="customerForm.controls['phone'].errors.pattern">Phone number must be '08' followed by 8 to 11 more numbers</div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <h4 class="sub-title"></h4>
                        <div class="row justify-content-end">
                            <div class="col-lg-3 col-md-12">
                                <div class="form-group">
                                    <button type="submit" [disabled]="formCreateCustomer.invalid" class="btn btn-success input-round btn-block" (click)="createCustomerX()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Trainer">
            <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                    <br>
                    <div class="row">
                        <ng-snotify class="material"></ng-snotify>
                        <div class="col-sm-12 col-md-6">
                            <fieldset>
                                <div [formGroup]="formCreate" class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="name">Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-round" [(ngModel)]="formCreateTrainer.name" formControlName="nameT">
                                        <div style="color: red" class="m-t-5" *ngIf="nameT.touched && nameT.invalid">
                                            <div *ngIf="nameT.errors.required">Name is required</div>
                                            <div *ngIf="nameT.errors.minlength">Name must be more than 3 characters</div>
                                            <div *ngIf="nameT.errors.maxlength">Name must be less than 50 characters</div>
                                        </div>
                                    </div>
                                </div>
                                <div [formGroup]="formCreate" class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="email">Email</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control input-round" name="email" [(ngModel)]="formCreateTrainer.email" formControlName="emailT">
                                        <div style="color: red" class="m-t-5" *ngIf="emailT.touched && emailT.invalid">
                                            <div *ngIf="emailT.errors.required">Email is required</div>
                                            <div *ngIf="emailT.errors.pattern">Email is invalid</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="gender">Gender</label>
                                    <div class="col-sm-8">
                                        <select name="select" class="form-control input-round" [(ngModel)]="formCreateTrainer.gender">
                                            <option value="">- Please Select -</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="url_ktp">Upload Picture</label>
                                    <div class="col-sm-8">
                                      <div class="head-img-cust">
                                          <img src="{{formCreateTrainer.url_photo_trainer}}">
                                      </div><br>
                                        <input type="file" accept=".jpg,.png,.jpeg" (change)="uploadPhotoTrainer($event)">
                                    </div>
                                </div>
                                <div [formGroup]="formCreate" class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="address">Address</label>
                                    <div class="col-sm-8">
                                        <textarea rows="2" cols="3" class="form-control input-round" [(ngModel)]="formCreateTrainer.address" formControlName="addressT"></textarea>
                                        <div style="color: red" class="m-t-5" *ngIf="addressT.touched && addressT.invalid">
                                            <div *ngIf="addressT.errors.required">Address is required</div>
                                            <div *ngIf="addressT.errors.minlength">Address must be more than 15 characters</div>
                                            <div *ngIf="addressT.errors.maxlength">Address must be less than 200 characters</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <fieldset>
                                <div [formGroup]="formCreate" class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="phone">Phone</label>
                                    <div class="col-sm-8">
                                        <input name="phone" type="text" class="form-control input-round" (keypress)="isNumber($event)" [(ngModel)]="formCreateTrainer.phone" formControlName="phoneT">
                                        <div style="color: red" class="m-t-5" *ngIf="phoneT.touched && phoneT.invalid">
                                            <div *ngIf="phoneT.errors.required">Phone number is required</div>
                                            <div *ngIf="phoneT.errors.pattern">Phone number must be '08' followed by 8 to 11 more numbers</div>
                                        </div>
                                    </div>
                                </div>
                                <div [formGroup]="formCreate" class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="no_ktp">KTP Number</label>
                                    <div class="col-sm-8">
                                        <input name="no_ktp" type="text" class="form-control input-round" (keypress)="isNumber($event)" [(ngModel)]="formCreateTrainer.no_ktp" formControlName="noKtpT">
                                        <div style="color: red" class="m-t-5" *ngIf="noKtpT.touched && noKtpT.invalid">
                                            <div *ngIf="noKtpT.errors.required">KTP Number is required</div>
                                            <div *ngIf="noKtpT.errors.pattern">KTP Number is invalid</div>
                                            <div *ngIf="noKtpT.errors.minlength">KTP Number must be 16 digits</div>
                                            <div *ngIf="noKtpT.errors.maxlength">KTP Number must be 16 digits</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="no_npwp">NPWP Number</label>
                                    <div class="col-sm-8">
                                        <input name="no_npwp" type="text" class="form-control input-round" (keypress)="isNumber($event)" [(ngModel)]="formCreateTrainer.no_npwp">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Bank</label>
                                    <div class="col-sm-8">
                                        <select name="select" class="form-control input-round" [(ngModel)]="formCreateTrainer.bank">
                                            <option value="">- Please Select -</option>
                                            <option value={{b.id}} *ngFor="let b of bank">{{b.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div [formGroup]="formCreate" class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="no_rek">Rekening Number</label>
                                    <div class="col-sm-8">
                                        <input name="no_rek" type="text" class="form-control input-round" (keypress)="isNumber($event)" [(ngModel)]="formCreateTrainer.no_rek" formControlName="noRekT">
                                        <div style="color: red" class="m-t-5" *ngIf="noRekT.touched && noRekT.invalid">
                                            <div *ngIf="noRekT.errors.required">Rekening number is required</div>
                                            <div *ngIf="noRekT.errors.pattern">Rekening number is invalid</div>
                                            <div *ngIf="noRekT.errors.minlength">Rekening number must be 10-15 digits</div>
                                            <div *ngIf="noRekT.errors.maxlength">Rekening number must be 10-15 digits</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <h4 class="sub-title"></h4>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="row">
                                <div class="col-sm-4">Specialities</div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12" *ngFor="let sp of data">
                                                <!-- <input type="text" class="form-control input-round" value="{{sp.name}}" > -->
                                                <div class="checkbox-fade fade-in-default">
                                                    <label>
                                                        <input type="checkbox" (change)="checkedSpeciality($event,sp)" [(ngModel)]="sp.value">
                                                        <span class="cr">
                                                            <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                        </span>
                                                        <span>{{sp.name}}</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" *ngFor="let speciality of formCreateTrainer.speciality_list">
                                    <div class="row form-group">
                                        <div class="col-sm-4">
                                            <span>{{speciality.name}} Price</span>
                                        </div>
                                        <div class="col-sm-7">
                                            <input name="price" type="text" name="{{speciality.name}}" class="form-control input-round" (keypress)="isNumber($event)" [(ngModel)]="speciality.price"
                                                placeholder="Rp. " currencyMask [options]="{ align: 'left', prefix: 'Rp ', precision: '', thousands: '.', decimal: ',' }">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="row">
                                <div class="col-sm-4">Schedule</div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6 col-6">
                                                <div class="checkbox-fade fade-in-default">
                                                    <label>
                                                        <input type="checkbox" (change)="checked($event,'All')" [(ngModel)]="value1">
                                                        <span class="cr">
                                                            <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                        </span>
                                                        <span>All</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-6" *ngFor="let day of listDay">
                                                <div class="checkbox-fade fade-in-default">
                                                    <label>
                                                        <input type="checkbox" (change)="checked($event,day.name)" [(ngModel)]="day.value">
                                                        <span class="cr">
                                                            <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                        </span>
                                                        <span>{{day.name}}</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <div class="form-group row" *ngFor="let schedule of formCreateTrainer.schedule_list">
                                            <label class="col-lg-4 col-sm-12 col-form-label" for="day">Time {{schedule.day}}</label>
                                            <div class="col-lg-8 col-sm-12">
                                                <div class="form-group row">
                                                    <div class="column col-lg-5 col-5">
                                                        <!--  <input type="time" class="form-control input-round" (change)="(start_time)" [(ngModel)]="schedule.start_time">
                       <input type="time" class="form-control input-round" (change)="(end_time)" [(ngModel)]="schedule.end_time"> -->Start Time
                                                        <ngb-timepicker [(ngModel)]="schedule.start_time">Start</ngb-timepicker>
                                                    </div>
                                                    <div class="column col-lg-5 col-5">
                                                        <!--  <input type="time" class="form-control input-round" (change)="(start_time)" [(ngModel)]="schedule.start_time">
                             <input type="time" class="form-control input-round" (change)="(end_time)" [(ngModel)]="schedule.end_time"> -->End Time
                                                        <ngb-timepicker [(ngModel)]="schedule.end_time">End Time</ngb-timepicker>
                                                    </div>
                                                    <div class="column2 col-lg-2 col-2">
                                                        <div style="margin-top: 50px;margin-left: -10px"><button class="ti-plus input-round" style="font-size:22px;cursor:pointer;color:green;outline: 0;" (click)="addComponent(schedule.day,schedule.start_time,schedule.end_time)">
                                                        </button></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row" *ngFor="let shift of schedule.shift; let index = index">
                                                    <div class="column col-lg-10 col-10">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-5">
                                                                Shift {{index+1}} :
                                                            </div>
                                                            <div class="form-group col-lg-8 col-12">
                                                                <div class="col-lg-12 col-12">
                                                                    <span *ngIf="shift.start_time.hour < 10">0</span>{{shift.start_time.hour}}.
                                                                    <span *ngIf="shift.start_time.minute < 10">0</span>{{shift.start_time.minute}} -
                                                                    <span *ngIf="shift.end_time.hour < 10">0</span>{{shift.end_time.hour}}.
                                                                    <span *ngIf="shift.end_time.minute < 10">0</span>{{shift.end_time.minute}}
                                                                    <!-- <span *ngIf="shift.shift < 10">0</span>{{shift.start_time - shift.end}} -->
                                                                </div>
                                                                <div class="col-lg-12 col-12">
                                                                    ({{shift.shift_range}} hours range)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column col-lg-2 col-2">
                                                        <i class="ti-trash" style="font-size:18px ; cursor: pointer; color:red" (click)="removeObject(shift.start_time,shift.end_time,schedule)">
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <h4 class="sub-title"></h4>
                    <div class="row justify-content-end">
                        <div class="col-lg-3 col-md-12">
                            <div class="form-group">
                                <button class="btn btn-success input-round btn-block" (click)="createContact()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</app-card>
