<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
        <h4>User List</h4>
        <p></p>
    </div>
  </div>
</div>
<app-card>
    <div class="container-fluid">
      <div class="row">

          <div class="col-lg-6 col-6">
              <div style="text-align:left;">
                  <div class="form-group">
                      <input class="form-control cust-search-button" #query (keyup)="getSearch(query.value)" placeholder="Find here.." type="text"
                      />
                  </div>
              </div>
          </div>

          <div class="col-lg-6 col-6">
              <div style="text-align:right;">
                  <div class="form-group">
                      <label for="show">Show</label>
                      <select class="form-control input-sm full-data-show-entry cust-select" name="select" id="show" (change)="onChange($event.target.value)">
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="75">75</option>
                      </select>
                  </div>
              </div>
          </div>
          <br>
      </div>
        <div class="table-responsive userT">
            <table class="table table-stripped table-hover">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Since</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of user" routerLink="/users/detail/{{user.id}}">
                  <td>{{user.full_name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.phone}}</td>
                  <td>{{user.address}}</td>
                  <td>{{user.date_created}}</td>
                  <!-- <td>{{user.status}}</td> -->
                  <td> - </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="justify-content-center testtt">
            <span class="test-pagination">Page</span>
            <ngb-pagination [collectionSize]="totalItems" [pageSize]="limit" [(page)]="page" (pageChange)="loadPage($event)" aria-label="Default pagination"
                [directionLinks]="false"></ngb-pagination>
        </div>
    </div>
</app-card>
