<ngb-tabset>
  <ngb-tab title="Incoming">
    <ng-template ngbTabContent>
      <div class="masonry" >
        <div class="col-lg-12 "*ngFor="let rate of rating">
          <div class="card rounded-card">
            <!-- user-card ngebug -->
            <div class="card-block"> 
              <div class="row">
                <div class="col-lg-3 col-4">
                  <img class="user-img img-radius  " src={{rate.url_photo_trainer}} alt="user-img">
                </div>
                <div class="col-lg-9 col-9 ">
                  <b>{{rate.name_trainer}}</b>
                  <br> {{rate.email_trainer}}
                </div>
              </div>
              <h4 class="sub-title"></h4>
              <div class="row">
                <div class="col-lg-4 col-5">
                  <p>Rating</p>
                </div>
                <div class="col-lg-8 col-7 ">
                  <p class=" f-22">
                    <b>{{rate.rating}}</b><i class="icofont icofont-star"></i>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <p>Review</p>
                </div>
                <div class="col-lg-8">
                  <p class=" f-12">{{rate.review}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg6-6 col-6">
                <div class="form group">
                  <button class="col-lg-12 btn btn-danger round-btn" (click)="openSwalR(rate.id)" >Reject</button>
                </div>
              </div>
              <div class="col-lg-6 col-6">
                <div class="form group">
                  <button class="col-lg-12 btn btn-success round-btn" (click)="openSwalA(rate.id)" >Approve</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Rejected">
      <ng-template ngbTabContent>
        <div class="masonry">
          <div class="col-lg-12 " *ngFor="let rej of reject">
            <div class="card rounded-card user-card">
              <div class="card-block">
                <div class="row">
                  <div class="col-lg-3">
                    <img class="user-img img-radius  " src={{rej.url_photo_trainer}} alt="user-img">
                  </div>
                  <div class="col-lg-9 ">
                    <b>{{rej.name_trainer}}</b>
                    <br> {{rej.email_trainer}}
                  </div>
                </div>
                <h4 class="sub-title"></h4>
                <div class="row">
                  <div class="col-lg-4">
                    <p>Rating</p>
                  </div>
                  <div class="col-lg-8 ">
                    <p class=" f-22">
                      <b>{{rej.rating}}</b>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <p>Review</p>
                  </div>
                  <div class="col-lg-8">
                    <p class=" f-12">{{rej.review}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

  <ngb-tab title="Approved">
      <ng-template ngbTabContent>
        <div class="masonry">
          <div class="col-lg-12 " *ngFor="let rej of approve">
            <div class="card rounded-card user-card">
              <div class="card-block">
                <div class="row">
                  <div class="col-lg-3">
                    <img class="user-img img-radius  " src={{rej.url_photo_trainer}} alt="user-img">
                  </div>
                  <div class="col-lg-9 ">
                    <b>{{rej.name_trainer}}</b>
                    <br> {{rej.email_trainer}}
                  </div>
                </div>
                <h4 class="sub-title"></h4>
                <div class="row">
                  <div class="col-lg-4">
                    <p>Rating</p>
                  </div>
                  <div class="col-lg-8 ">
                    <p class=" f-22">
                      <b>{{rej.rating}}</b>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <p>Review</p>
                  </div>
                  <div class="col-lg-8">
                    <p class=" f-12">{{rej.review}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
</ngb-tabset>





<!-- 
<div class="col-lg-4">
<div class="row">
  <div class="col-sm-4">
    <div class="card  ">
      <div class="radio radio-inline">
        <div class="card-block">
          <div class="user-content">
            <label class="check-line">
              <i class="helper"></i>
              <b class="bn">eee </b> ee
              <p class="m-b-0 text-muted speclity">wwer</p>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->