<ng-snotify class="material"></ng-snotify>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-form-label my-auto">
      <h4>Trainer Speciality List</h4>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 my-auto" style="text-align:right">
      <div class="form-group cust-btn">
        <button class="btn btn-success input-round waves-effect md-trigger" type="button" (click)="openMyModal('effect-2')">Add Trainer Speciality</button>
      </div>
    </div>
  </div>
</div>
<br />
<app-card>
  <div class="table-responsive">
      <table class="table table-stripped table-hover">
          <thead>
              <tr>
                  <!-- <th>Id</th> -->
                  <th>Trainer Speciality Name</th>
                  <th>Cover</th>
                  <th>Action</th>

              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let ls of data">
                  <!-- <td>{{ls.id}}</td> -->
                  <td>{{ls.name}}</td>
                  <td><img src="{{ls.cover}}"  *ngIf="ls.cover != null"  style="width: 200px; height: 133px;"></td>
                  <td>
                    <i class="ti-trash" style="font-size: 20px;color:red" (click)="removeObject(ls.id, $event)">
                    </i>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</app-card>

<app-modal-animation [modalID]="'effect-2'" [modalClass]="'md-effect-2'">
  <h3 style="font-size: 26px;">Add Trainer Speciality</h3>
  <div class="row">
    <!-- <p>This is a modal window. You can do the following things with it:</p>
    <ul>
      <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
      <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
      <li><strong>Close:</strong> click on the button below to close the modal.</li>
    </ul> -->
    <div class="col-sm-12">
      <fieldset>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Trainer Speciality Name</label>
          <div class="col-sm-8">
            <input type="text" class="input-round form-control" [(ngModel)]="speciality.name">
          </div>
          <label class="col-sm-4 col-form-label">Cover</label>
          <div class="col-sm-8">
            <input type="file"(change)="uploadCover($event)">

            <img src="{{speciality.cover}}"  *ngIf="speciality.cover != ''"  style="width: 200px; height: 133px;">
          </div>
      </div>
      </fieldset>
    </div>
    <button class="btn btn-success input-round col-sm-6" type="button" (click)="clickSubmit($event)" >Submit</button>
  </div>
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn">
    <i class="icofont icofont-ui-close"></i>
  </button>

</app-modal-animation>
