<div class="container-fluid">
  <div class="row">
      <div class="col-sm-10 col-xs-12 head">
        <h4>
          Admin Edit
        </h4>
      </div><br><br>
  </div>
</div> <br>
<app-card>
  <div >
    <div class="row"><ng-snotify class="material"></ng-snotify>
       <div class="col-sm-12 col-md-6">
          <fieldset>
             <div class="form-group row" [formGroup]="adminForm">
                <label class="col-sm-4 col-form-label" for="name" >Name
                </label>
                <div class="col-sm-8">
                   <input type="text" class="form-control input-round" formControlName="full_name" [(ngModel)]="admin.full_name">
                   <div class="alert-danger m-t-5" *ngIf="adminForm.get('full_name').invalid" >
                     <div *ngIf="adminForm.get('full_name').errors.required ">Name is required</div>
                     <div *ngIf="adminForm.get('full_name').errors.pattern">Name must be in characters</div>
                     <div *ngIf="adminForm.get('full_name').errors.minlength">Name must be more than 3 characters</div>
                     <div *ngIf="adminForm.get('full_name').errors.maxlength">Name must be less than 50 characters</div>
                   </div>
                </div>
             </div>
             <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="name" >Username
                </label>
                <div class="col-sm-8">
                   <input type="text" class="form-control input-round" readonly [(ngModel)]="admin.username">
                </div>
             </div>
             <div class="form-group row"[formGroup]="adminForm">
                <label class="col-sm-4 col-form-label" for="email" >Email
                </label>
                <div class="col-sm-8">
                   <input type="email" class="form-control input-round" formControlName="email" [(ngModel)]="admin.email" readonly>

                </div>
             </div>
             <div class="form-group row"[formGroup]="adminForm">
                <label class="col-sm-4 col-form-label" for="address">Address
                </label>
                <div class="col-sm-8">
                  <textarea rows="2" cols="3" class="form-control input-round" formControlName="address" [(ngModel)]="admin.address"></textarea>
                  <div class="alert-danger m-t-5" *ngIf="adminForm.get('address').invalid" >
                    <div *ngIf="adminForm.get('address').errors.required ">Address is required</div>
                    <div *ngIf="adminForm.get('address').errors.minlength">Address must be more than 15 characters</div>
                    <div *ngIf="adminForm.get('address').errors.maxlength">Address must be less than 50 characters</div>
                  </div>
                </div>
             </div>
          </fieldset>
       </div>
       <div class="col-sm-12 col-md-6">
          <fieldset>
             <div class="form-group row"[formGroup]="adminForm">
                <label class="col-sm-4 col-form-label" for="since">No. KTP
                </label>
                <div class="col-sm-8">
                   <input name="since" type="text" class="form-control input-round" formControlName="no_ktp" [(ngModel)]="admin.no_ktp" readonly>
                   <div class="alert-danger m-t-5" *ngIf="adminForm.get('no_ktp').invalid" >
                     <div *ngIf="adminForm.get('no_ktp').errors.required">No. KTP is required</div>
                     <div *ngIf="adminForm.get('no_ktp').errors.pattern">No. KTP must be in numbers</div>
                     <div *ngIf="adminForm.get('no_ktp').errors.minlength">No. KTP must be 16 numbers</div>
                     <div *ngIf="adminForm.get('no_ktp').errors.maxlength">No. KTP must be 16 numbers</div>
                   </div>
                 </div>
             </div>
             <div class="form-group row">
                 <label class="col-sm-4 col-form-label" for="admin.url_ktp">KTP Picture</label>
                 <div class="col-sm-8">
                   <img src="{{admin.url_ktp}}" style="width: 200px; height: 133px;">
                 </div>
             </div>
             <div class="form-group row">
                 <label class="col-sm-4 col-form-label" ></label>
                 <div class="col-sm-8">
                   <input type="file" (change)="uploadFileKtp($event)"><br>
                 </div>
             </div>
             <div class="form-group row"[formGroup]="adminForm">
                <label class="col-sm-4 col-form-label" for="status">No. NPWP
                </label>
                <div class="col-sm-8">
                   <input name="status" type="text" class="form-control input-round" accept=".png, .jpeg, .jpg" formControlName="no_npwp" [(ngModel)]="admin.no_npwp" >
                   <div class="alert-danger m-t-5" *ngIf="adminForm.get('no_npwp').invalid" >
                     <div *ngIf="adminForm.get('no_npwp').errors.pattern">No. NPWP must be in numbers</div>
                     <div *ngIf="adminForm.get('no_npwp').errors.minlength">No. NPWP must be 15 numbers</div>
                     <div *ngIf="adminForm.get('no_npwp').errors.maxlength">No. NPWP must be 15 numbers</div>
                   </div>
                 </div>
             </div>
             <div class="form-group row">
                 <label class="col-sm-4 col-form-label" for="admin.url_npwp">NPWP Picture</label>
                 <div class="col-sm-8">
                   <img src="{{admin.url_npwp}}" style="width: 200px; height: 133px;">
                 </div>
             </div>
             <div class="form-group row">
                 <label class="col-sm-4 col-form-label" ></label>
                 <div class="col-sm-8">
                     <input type="file" (change)="uploadFileNpwp($event)" accept=".png, .jpeg, .jpg">
                 </div>
             </div>
          </fieldset>
       </div>
    </div>
  </div>

    <h4 class="sub-title"></h4>
    <div class="row justify-content-end">
        <div class="col-lg-3 col-md-12">
            <div class="form-group">
                <button class="btn btn-danger input-round btn-block" (click)="cancel()">Cancel</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="form-group">
                <button class="btn btn-success input-round btn-block" (click)="updateAdmin()">Save</button>
            </div>
        </div>
    </div>
</app-card>
