/* #canvas{
  height: 100% !important;
} */

@media only screen and (max-width: 600px) {
    /* #canvas{
      height: 200% !important;
    } */
    .cust-select{
      text-align: right;
    }
}

.quantity{
  text-align: center;
  height: 80px;
}

.quantityx{
  text-align: center;
  height: 270px;
}

.box{
  margin-top: 20px;
  text-align: center;
  height: 50px;
}

.cust-select {
    margin-left: 10px;
    /* margin-top: 10px; */
    border-radius: 10px;
    width: 105px;
}
