<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h4>Sales Report</h4>
      <p>Cash flow / Revenue</p>
    </div>
    <div class="col-lg-6 ">
        <div style="text-align:right;" class="float-right">
            <div class="form-group">
                <label for="show">Show</label>
                <select class="form-control input-sm full-data-show-entry cust-select" name="select" id="show" (change)="onChange($event.target.value)">
                    <option value="daily">Daily</option>
                    <option value="monthly">Monthly</option>
                    <option value="Yearly">Yearly</option>
                </select>
            </div>
        </div>
    </div>
  </div>
</div>
<app-card class="graph">
  <div class="row">
    <div class="col-sm-12">
      <canvas height="125" id="canvas">{{ chart }}</canvas>
    </div>
  </div>
</app-card><br><br>
<!-- <div class="row">
  <div class="col-sm-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h4>Active User</h4>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-card>
          <div class="quantity">
            <h4>
              <b>{{formDashboard.activeCustomer}} / {{formDashboard.totalCustomer}}</b>
            </h4>
          </div>
          Active Customer
        </app-card>
      </div>
      <div class="col-sm-12">
        <app-card>
          <div class="quantity">
            <h4>
              <b>{{formDashboard.activeTrainer}} / {{formDashboard.totalTrainer}}</b>
            </h4>
          </div>
          Active Trainer
        </app-card>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h4>Total Booking</h4>
          <p></p>
        </div>
      </div>
    </div>
    <app-card >
      <div class="quantityx">
        <h3>
          <b>
            {{formDashboard.totalBooking}}
          </b>
        </h3>
      </div>
    </app-card>
  </div>
  <div class="col-sm-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h4>Total Income</h4>
          <p></p>
        </div>
      </div>
    </div>
    <app-card>
      <div class="quantityx">
        <h3>
          Rp {{formDashboard.totalIncome}}
        </h3>
      </div>
    </app-card>
  </div>
</div> -->
<div class="row">
  <div class="col-sm-6">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h4>Active User</h4>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-card>
          <div class="box">
            <h2>
              <b>{{formDashboard.activeCustomer}} / {{formDashboard.totalCustomer}}</b>
            </h2>
          </div>
          Active Customer
        </app-card>
      </div>
      <div class="col-sm-12">
        <app-card>
          <div class="box">
            <h2>
              <b>{{formDashboard.activeTrainer}} / {{formDashboard.totalTrainer}}</b>
            </h2>
          </div>
          Active Trainer
        </app-card>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h4>Total</h4>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-card>
          <div class="box">
            <h2>
              <b>{{formDashboard.totalBooking}}</b>
            </h2>
          </div>
          Total Booking
        </app-card>
      </div>
      <div class="col-sm-12">
        <app-card>
          <div class="box">
            <h2>
              <b>Rp {{formDashboard.totalIncome}}</b>
            </h2>
          </div>
          Total Income
        </app-card>
      </div>
    </div>
  </div>
