<!-- <app-card [title]="'Create Booking'"> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 margin-head">
      <ng-snotify class="material"></ng-snotify>
      <h4>Add Booking</h4>
      <p></p>
    </div>
  </div>

  <!-- <form-wizard (onStepChanged)="onStepChanged($event)"> -->
  <form-wizard>
    <wizard-step [title]="'1. Input Customer'" [isValid]="form.valid" (onNext)="onStep1Next($event)">
      <div style="margin-top:30px;">
        <fieldset>
          <!-- <form #f="ngForm"> -->
          <div [formGroup]="form">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="name">Name</label>
              <div class="col-sm-8">
                <!-- <input type="text" class="form-control input-round" minlength="4" required ngModel name="name" #customerName="ngModel" [(ngModel)]="formCreateBooking.customer_name" formControlName="customerName"> -->
                <input type="text" class="form-control input-round" name="name" [(ngModel)]="formCreateBooking.customer_name" formControlName="customerName">
                <div class="m-t-5" style="color:red" *ngIf="customerName.invalid">
                  <div *ngIf="customerName.errors.required && customerName.touched">Name is required</div>
                  <div *ngIf="customerName.errors.pattern">Name is invalid</div>
                  <div *ngIf="customerName.errors.minlength">Name must be 3-50 characters</div>
                  <div *ngIf="customerName.errors.maxlength">Name must be 3-50 characters</div>
                </div>

              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="name">Phone</label>
              <div class="col-sm-8">
                <!-- <input type="text" class="form-control input-round" minlength="10" maxlength="13" required ngModel name="phone" pattern="[0][8][0-9]{8,11}" #phone="ngModel" [(ngModel)]="formCreateBooking.customer_phone" formControlName="phone"> -->
                <input type="text" class="form-control input-round" name="phone" (keypress)="isNumber($event)" pattern="[0][8][0-9]{8,11}"
                  accept="number" [(ngModel)]="formCreateBooking.customer_phone" formControlName="phone">
                <div class="m-t-5" style="color:red" *ngIf="!phone.valid">
                  <div *ngIf="phone.errors.required && phone.touched">Phone is required</div>
                  <div *ngIf="phone.errors.maxlength">Phone must be 10-13 characters and starts with '08'</div>
                  <div *ngIf="phone.errors.minlength">Phone must be 10-13 characters and starts with '08'</div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </wizard-step>

    <wizard-step [title]="'2. Choose Trainer'" [isValid]="checkRadio()" [showNext]="" (onNext)="onStep2Next($event)">

      <div style="margin-top:30px;">
        <fieldset>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="name">Speciality</label>
            <div class="col-sm-8">
              <select class="form-control input-round" name="select" id="show" [(ngModel)]="specialiti">
                <option value="">- Please Select -</option>
                <option *ngFor="let spec of speciality" value="{{spec.name}}">{{spec.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="gender">Gender</label>
            <div class="col-sm-8">
              <select name="select" class="form-control input-round" [(ngModel)]="gender">
                <option value="">- Please Select -</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="name">Date</label>
            <div class="col-lg-4 col-md-5 col-sm-6">
              <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" readonly>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="icofont icofont-ui-calendar" style="margin-left:5px; color:#1976d2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row" style="margin-top:-15px;">
            <label class="col-sm-4 col-form-label" for="name">Shift</label>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-5 col-12" style="margin-bottom:-70px">
                  Start Time
                  <ngb-timepicker [(ngModel)]="tmin" (keypress)="isNumber($event)"></ngb-timepicker>
                </div>
                <div class="garis" style="margin-top:54px;"></div>
                <div class="col-lg-3 col-md-4 col-sm-5 col-12">
                  End Time
                  <ngb-timepicker [(ngModel)]="tmax" (keypress)="isNumber($event)"></ngb-timepicker>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="name">Price</label>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-5">
                  <!-- <input name="price" type="text" class="form-control input-round" [(ngModel)]="pmin" placeholder="Rp. Min Price" (keypress)="isNumber($event)"> -->
                  <input name="price" type="text" class="form-control input-round" [(ngModel)]="pmin" placeholder="Rp. Min Price" (keypress)="isNumber($event)"
                    currencyMask [options]="{ align: 'left', prefix: 'Rp ', precision: '', thousands: '.', decimal: ',' }"
                  />
                </div>
                <div class="garis" style="margin-top:6px;">-</div>
                <div class="col-lg-3 col-md-4 col-sm-5">
                  <!-- <input name="price" type="text" class="form-control input-round" [(ngModel)]="pmax" placeholder="Rp. Max Price" (keypress)="isNumber($event)"> -->
                  <input name="price" type="text" class="form-control input-round" [(ngModel)]="pmax" placeholder="Rp. Max Price" (keypress)="isNumber($event)"
                    currencyMask [options]="{ align: 'left', prefix: 'Rp ', precision: '', thousands: '.', decimal: ',' }">
                  <!-- <span class="float-right">
                        <div (click)="resetPrice()"><i class="icofont icofont-refresh" style="margin:auto"></i></div>  
                      </span>  -->
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <br />
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-3 col-sm-4 col-12">
            <div class="form-group">
              <button class="btn btn-primary input-round btn-block" (click)="getTrainer(); clickGetTrainer">Search</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="clickGetTrainer">
        <hr />
        <div class="row" style="margin-top:30px;">

          <!-- <div class="col-lg-6 col-6">
                  <div style="text-align:left;">
                      <div class="form-group">
                          <input class="form-control cust-search-button" #query (keyup)="getSearch(query.value)" placeholder="Find here.." type="text"
                          />
                      </div>
                  </div>
              </div> -->

          <!-- <div class="col-lg-12 col-12">
                  <div style="text-align:right;">
                      <div class="form-group">
                          <label for="show">Show</label>
                          <select class="form-control input-sm full-data-show-entry cust-select" name="select" id="show" (change)="onChange($event.target.value)">
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="75">75</option>
                          </select>
                      </div>
                  </div>
              </div> -->
          <br>
        </div>

        <div class="table-responsive">
          <table class="table table-stripped table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Shift</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Speciality</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trainer of trainerbt">
                <td>
                  <div class="radio radio-inline">
                    <input type="radio" name="radioBooking" (change)="setDat($event, trainer)">
                  </div>
                </td>
                <td>{{trainer.name}}</td>
                <td>
                  <div *ngFor="let tshift of trainer.shift_list">
                    <div *ngIf="tshift.status == true">{{tshift.start_time}} - {{tshift.end_time}}</div>
                  </div>
                </td>
                <td>{{trainer.email}}</td>
                <td>{{trainer.phone}}</td>
                <td>{{trainer.address}}</td>
                <td>{{trainer.speciality}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="justify-content-center">
          <span class="test-pagination">Page</span>
          <ngb-pagination [collectionSize]="totalItems" [pageSize]="limit" [(page)]="page" (pageChange)="getAll($event)" aria-label="Default pagination"
            [directionLinks]="false"></ngb-pagination>
        </div>
      </div>
      <br>
    </wizard-step>

    <wizard-step [title]="'3. Add Booking'" [isValid]="inputTrue()" (onPrev)="onStep3Prev($event)" (onComplete)="onComplete($event)">
      <div *ngIf="detail">
        <div class="row" style="margin-top:35px; margin-bottom:15px;">
          <div class="col-lg-12">
            <div class="head-form">Customer Data</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-12 header-k-mb">
            <h4 class="header-name">
              {{formCreateBooking.customer_name}}
            </h4>
          </div>
          <div class="col-lg-4 col-sm-12 header-k-mb">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-4 head-form1">Phone</div>
              <div class="col-sm-12 col-md-12 col-lg-8">{{formCreateBooking.customer_phone}}</div>
            </div>
          </div>
        </div>
        <hr style="height:1px;border:none;color:gray;background-color:gray;" />
        <div class="row" style="margin-bottom:40px;">
          <div class="col-lg-12">
            <div class="head-form">Trainer Data</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-12 header-k-mb">
            <div class="row">
              <div class="col-lg-3" style="margin-top:-23px;">
                <img class="user-img img-radius img-responsive img-center" src="{{detail.url_photo_trainer}}" alt="user-img">
              </div>
              <div class="col-lg-9">
                <h4 class="header-name">
                  {{detail.name}}
                </h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 header-k-mb">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-4 head-form1">Phone</div>
              <div class="col-sm-12 col-md-12 col-lg-8">{{detail.phone}}</div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-4 head-form1">Class</div>
              <div class="col-sm-12 col-md-12 col-lg-8">{{detail.trainer_specialitys}}</div>
            </div>
          </div>
        </div>
        <hr style="height:1px;border:none;color:gray;background-color:gray;" />
        <div class="row margin-head">
          <div class="col-lg-4 col-md-12 mb-auto">
            <div class="head-form margin-head-d header-k-mb">Booking Date</div>
            <!-- <div class="form-group">
          <select class="form-control" name="select" id="show">
              <option value="">- Please Select Day -</option>
              <option *ngFor="let hari of detail.day" (change)="getDay($value)" value="{{hari.name}}" >{{hari.name}}</option>
              fungsi day manggil api
          </select>
        </div> -->
            <!-- <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <img src="" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                  </button>
                </div>
              </div>
            </div>
          </form> -->
            <!-- <ngb-datepicker [(ngModel)]="model"></ngb-datepicker> -->
            <div class="header-k-mb">{{daySearch}},
              <span *ngIf="model.day < 10">0</span>{{model.day}}-
              <span *ngIf="model.month < 10">0</span>{{model.month}}-{{model.year}}</div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="head-form margin-head-d header-k-mb">Select Shift</div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12" *ngFor="let shiftTime of detail.day.shift">
                <div class="checkbox-fade fade-in-default">
                  <label>
                    <input type="checkbox" (change)="checkedShift($event,shiftTime)" [(ngModel)]="shiftTime.value" [disabled]="!shiftTime.status">
                    <span class="cr">
                      <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                    </span>
                    <span *ngIf="shiftTime.status==false" class="striketrough">
                      <span *ngIf="shiftTime.start_time.hour < 10">0</span>{{shiftTime.start_time.hour}}:
                      <span *ngIf="shiftTime.start_time.minute < 10">0</span>{{shiftTime.start_time.minute}} -
                      <span *ngIf="shiftTime.end_time.hour < 10">0</span>{{shiftTime.end_time.hour}}:
                      <span *ngIf="shiftTime.end_time.minute < 10">0</span>{{shiftTime.end_time.minute}} ({{shiftTime.shift_range}} quantity)
                    </span>
                    <span *ngIf="shiftTime.status==true">
                      <span *ngIf="shiftTime.start_time.hour < 10">0</span>{{shiftTime.start_time.hour}}:
                      <span *ngIf="shiftTime.start_time.minute < 10">0</span>{{shiftTime.start_time.minute}} -
                      <span *ngIf="shiftTime.end_time.hour < 10">0</span>{{shiftTime.end_time.hour}}:
                      <span *ngIf="shiftTime.end_time.minute < 10">0</span>{{shiftTime.end_time.minute}} ({{shiftTime.shift_range}} quantity)
                    </span>
                    <!-- <span *ngIf="shiftTime.status==true">({{shiftTime.shift_range}} quantity)</span><span *ngIf="shiftTime.status==false">(BOOKED)</span>  -->
                  </label>
                </div>
              </div>
            </div>

            <!-- <div *ngFor="let daysName of detail.day">
          <div *ngIf="daysName.name == daySearch">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12" *ngFor="let shiftTime of daysName.shift">
                <div class="checkbox-fade fade-in-default">
                  <label>
                    <input type="checkbox" (change)="checkedShift($event,shiftTime)" [(ngModel)]="shiftTime.value" unchecked>
                    <span class="cr">
                      <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                    </span>
                    <span *ngIf="shiftTime.start_time.hour < 10">0</span>{{shiftTime.start_time.hour}}:<span *ngIf="shiftTime.start_time.minute < 10">0</span>{{shiftTime.start_time.minute}} - 
                    <span *ngIf="shiftTime.end_time.hour < 10">0</span>{{shiftTime.end_time.hour}}:<span *ngIf="shiftTime.end_time.minute < 10">0</span>{{shiftTime.end_time.minute}} ({{shiftTime.shift_range}} quantity)
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div> -->
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="head-form margin-head header-k-mt header-k-mb">If you choose more than one trainer's available time
            </div>
            <div class="form-radio">
              <form>
                <div class="radio radio-inline">
                  <label>
                    <input type="radio" name="radioJoin" [value]="true" [(ngModel)]="formCreateBooking.join_shift" (change)="checkedJoin($event, join)">
                    <i class="helper"></i>Join all shifts without time break
                  </label>
                  <label>
                    <input type="radio" name="radioJoin" [value]="false" [(ngModel)]="formCreateBooking.join_shift" (change)="checkedSeparate($event, separate)">
                    <i class="helper"></i>Separate shifts base on schedule
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- </div> -->

        <hr style="height:1px;border:none;color:gray;background-color:gray;" />
        <div class="row">
          <div class="col-sm-12">
            <div class="head-form">Select Class (Maximum Quantity : {{maxQty}})</div>
            <p>Categories / Specialities of Trainer</p>
          </div>
        </div>
        <!-- <div *ngFor="let speciality of detail.trainer_speciality">
      <div *ngIf="speciality.name == specialiti"> -->
        <div class="row">
          <!-- <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-7 col-sm-6">
                  <div class="checkbox-fade fade-in-default">
                    <label>
                        <input type="checkbox" id="{{speciality.id}}">
                        <span class="cr">
                          <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                        </span>
                    </label>
                  </div>
                  <label for="{{speciality.id}}">
                    <span class="check-line">{{speciality.name}}<br>Rp. {{speciality.price}}</span>
                  </label>
              </div>
              <div class="col-lg-5 col-sm-6">
                <div class="row">
                  <div class="col-lg-10 col-sm-6 col-8">
                  <div class="input-group">
                      <span class="input-group-btn">
                          <button (click)="decrement()" class="btn btn-primary btn-outline-default btn-icon"><i class="icofont icofont-minus"></i></button>
                      </span>
                      <input type="number" name="quant[2]" class="form-control input-number input-md" id="speciality.id" [(ngModel)]="counter">
                      <span class="input-group-btn">
                          <button (click)="increment()" class="btn btn-primary btn-outline-default btn-icon"><i class="icofont icofont-plus"></i></button>
                      </span>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- </div> -->
          <!-- </div> -->
          <div class="col-lg-6" *ngFor="let speciality of detail.trainer_speciality; let index=index">
            <div class="row">
              <div class="col-lg-7 col-sm-12 col-12">
                <div class="checkbox-fade fade-in-default">
                  <label>
                    <input type="checkbox" (change)="checkedSpeciality($event,speciality,index)" [(ngModel)]="speciality.value" id="{{speciality.id}}">
                    <span class="cr">
                      <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                    </span>
                  </label>
                </div>
                <label for="{{speciality.id}}">
                  <span class="check-line">{{speciality.name}}
                    <br>Rp. {{speciality.price}}</span>
                </label>
              </div>
              <div class="col-lg-5 col-sm-12 col-12">
                <div class="row">
                  <div class="col-lg-10 col-sm-4 col-7">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button (click)="decrement(index)" class="btn btn-primary btn-outline-default btn-icon">
                          <i class="icofont icofont-minus"></i>
                        </button>
                      </span>
                      <input type="number" name="quant[2]" class="form-control input-number input-md" id="speciality.id" [(ngModel)]="speciality.counter"
                        readonly>
                      <span class="input-group-btn">
                        <button (click)="increment(index)" class="btn btn-primary btn-outline-default btn-icon">
                          <i class="icofont icofont-plus"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr style="height:1px;border:none;color:gray;background-color:gray;" />

        <div class="row">
          <div class="col-sm-12">
            <div class="head-form">Address</div>
            <p>Pick your location on map</p>
            <div class="form-group">
              <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control input-round"
                #search [formControl]="searchControl">
            </div>
            <agm-map [zoom]="13" [latitude]="lat" [longitude]="lng" (mapClick)="onChooseLocation($event)">
              <agm-marker [latitude]="latMarker" [longitude]="lngMarker"></agm-marker>
            </agm-map>
            <br> {{fullAddress}}
          </div>
        </div>
        <hr style="height:1px;border:none;color:gray;background-color:gray;" />
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12">
              <div class=" input-group">
                <input type="text" [(ngModel)]="formCreateBooking.voucher_code" (ngModelChange)="checkVoucher()" class="form-control" placeholder="Input Voucher">
                <span class="input-group-addon" *ngIf="voucherValid == null" style="background-color: white">
                  <i class="ti-help"></i>
                </span>
                <span class="input-group-addon" *ngIf="voucherValid == true" style="background-color: #5cb85c">
                  <i class="ti-check"></i>
                </span>
                <span class="input-group-addon" *ngIf="voucherValid == false" style="background-color: #FC6180">
                  <i class="ti-na"></i>
                </span>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-sm-6 col-12">
            <div class="head-pay col-form-label">Total</div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div style="text-align:right" class="harga">
              <span class="rp">Rp.</span> {{totalPrice}}</div>
          </div>
        </div>
        <div>
          <div class="col-sm-6">

          </div>
        </div>

        <hr style="height:1px;border:none;color:gray;background-color:gray;" />
      </div>
    </wizard-step>

  </form-wizard>
</div>
<!-- </app-card> -->