<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 my-auto">
      <h4>Cover List</h4>
    </div>
    <div class="col-sm-6 my-auto">
      <div style="text-align:right;">
        <div class="form-group cust-btn">
          <button class="btn btn-success btn-cb" type="button"
            routerLink="/content/add-cover">Add Content</button>
            <button class="btn btn-success btn-cb" type="button"
            routerLink="/content/add-advertisement">Add Ads</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<app-card>
  <div class="container-fluid">

      <div class="row">
          <div class="col-lg-6 col-6">
              <div style="text-align:left;">
                  <div class="form-group">
                      <input class="form-control cust-search-button" #query (keyup)="getSearch(query.value)" placeholder="Find here.." type="text"
                      />
                  </div>
              </div>
          </div>

          <div class="col-lg-6 col-6">
              <div style="text-align:right;">
                  <div class="form-group">
                      <label for="show">Show</label>
                      <select class="form-control input-sm full-data-show-entry cust-select" name="select" id="show" (change)="onChange($event.target.value)">
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="75">75</option>
                      </select>
                  </div>
              </div>
          </div>
          <br>
      </div>

    <div class="table-responsive">
      <table class="table table-stripped table-hover">
        <thead>
          <tr>
            <th>Header</th>
            <th>Description</th>
            <th>Cover Image</th>
            <!-- <th>URL</th> -->
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr routerLink="/booking/detail/{{book.id}}"*ngFor="let book of booking">
            <td>{{book.customer_name}}</td>
            <td>{{book.date_booking}}</td>
            <td>{{book.customer_phone}}</td>
            <td>{{book.address}}</td>
          </tr> -->
          <tr *ngFor="let c of cover">
            <td>{{c.header}}</td>
            <td>{{c.description}}</td>
            <!-- <td></td> -->
            <td class="text-center"><a href="{{c.url_cover}}" target="_blank"><img class="img-fluid" src="{{c.url_cover}}" style="width:70%; height:auto;"/></a></td>
            <td><button (click)="deleteImg(c.id)" class="btn btn-danger btn-outline-default btn-cb"><i class="icofont icofont-ui-delete" style="margin:auto"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="justify-content-center testtt">
      <span class="test-pagination">Page</span>
      <ngb-pagination [collectionSize]="totalItems" [pageSize]="limit"
        [(page)]="page" (pageChange)="loadPage($event)" aria-label="Default
        pagination"
        [directionLinks]="false"></ngb-pagination>
    </div>

  </div>
</app-card>