<!-- <app-card>   -->
  <div id="msform">
    <div id="progressbar">
      <form-wizard (onStepChanged)="onStepChanged($event)">
        <wizard-step [title]="'Buat Kontrak'" (onNext)="onStep1Next($event)">
          <fieldset>
            <div class="card col-sm-8">
              <div class="card-header col-sm-12">
                <h1>Kontrak Anda</h1>
              </div>
              <div class="card-block">
                <div class="col-sm-12">
                  <label><b>Pilihan Layanan</b></label>
                  <div class="col-sm-12">
                    <input type="radio" [(ngModel)]="create" (value)="create">Buat Kontrak
                    <input type="radio" [(ngModel)]="review" (value)="review">Review Kontrak
                  </div>
                </div>
                <div class="col-sm-12">
                  <label><b>Nama Depan</b></label>
                  <input type="text" ngModel #namaDepan="ngModel" class="form-control" placeholder="Nama Depan" required>
                </div>
                <div class="col-sm-12">
                  <label><b>Nama Belakang</b></label>
                  <input type="text" ngModel #namaBelakang="ngModel" class="form-control" placeholder="Nama Belakang" required>
                </div>
                <div class="col-sm-12">
                  <label><b>Jenis Kontrak</b></label>
                  <select [(ngModel)]="jenisKontrakSelect" class="form-control">
                    <option *ngFor="let jenKon of jenisKontrak">{{jenKon}}</option>
                  </select>
                  <input *ngIf="jenisKontrakSelect == 'Lain-lain'" placeholder="Jenis Kontrak" type="text" ngModel #jenisKontrakAlt="ngModel" class="form-control" required>
                </div>
                <div *ngIf="type == 'review'" class="row divider-row">
                  <label><b>Jumlah halaman Kontrak? (dalam format ms.word ukuran 12, spasi 1,15)</b></label>
                  <input type="number" class="form-control" ngModel #jumlahHalaman="ngModel" placeholder="Jumlah Halaman" required>
                </div>
                <div class="col-sm-12">
                  <label><b>Nama Proyek</b></label>
                  <input type="text" class="form-control" ngModel #namaProyek="ngModel"  placeholder="Nama Proyek" required>
                </div>
                <div class="col-sm-12">
                  <label><b>Poin - Poin Kontrak</b></label>
                  <textarea cols="30" rows="10" class="form-control" ngModel #poinKontrak="ngModel" placeholder="Deskripsikan kebutuhan kontrak yang Anda pesan" required></textarea>
                </div>
                <div class="col-sm-12">
                  <label><b>Lampiran</b></label>
                  <input type="file" class="form-control-file">
                  <label *ngIf="type == 'review'">Lampiran<span class="text-danger">*</span></label>
                  <input type="file" *ngIf="type == 'review'" class="form-control form-control-file" required>
                </div>
                <div class="col-sm-12">
                  <label><b>Nama Perusahaan</b></label>
                  <input type="text" class="form-control"  ngModel #namaPerusahaan="ngModel"  placeholder="PT Teras Perjanjian Digital/CV ABS" required>
                </div>
                <div class="col-sm-12">
                  <label><b>Bergerak di bidang/industri</b></label>
                  <select [(ngModel)]="bidangIndustriSelect" class="form-control">
                    <option *ngFor="let bidang of bidangIndustri">{{bidang}}</option>
                  </select>
                  <input type="text" class="form-control" ngModel #bidangIndustriAlt="ngModel"  placeholder="Jenis Bidang/Industri" *ngIf="bidangIndustriSelect == 'Lain-lain'" required>
                </div>
                <div class="col-sm-12">
                  <label><b>Nilai pembayaran yang tertera dalam Kontrak</b></label>
                  <select [(ngModel)]="nilaiPembayaranSelect" class="form-control">
                    <option *ngFor="let pembayaran of nilaiPembayaran">{{pembayaran}}</option>
                  </select>
                  <input *ngIf="nilaiPembayaranSelect == '> 1 Milyar'" type="text" [ngModel]="nilaiPembayaranAlt" placeholder="Masukkan nilai pembayaran" class="form-control" required>
                </div>
                <div class="col-sm-12">
                  <label><b>Omset rata-rata perbulan</b></label>
                  <select [(ngModel)]="omsetSelect" class="form-control" required>
                    <option *ngFor="let option of omset">{{option}}</option>
                  </select>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-12 text-center">
                    <label><b>Total Bayar</b></label>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 text-center">
                      <div class="col-sm-12">
                        <input type="radio">
                      </div>
                      <div class="col-sm-12">
                        Indonesia
                      </div>
                      <div class="col-sm-12">
                        Rp. 1.000.000,00
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <div class="col-sm-12">
                        <input type="radio">
                      </div>
                      <div class="col-sm-12">
                        Inggris
                      </div>
                      <div class="col-sm-12">
                        Rp. 2.000.000,00
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <div class="col-sm-12">
                        <input type="radio">
                      </div>
                      <div class="col-sm-12">
                        Bilingual
                      </div>
                      <div class="col-sm-12">
                        Rp. 3.000.000,00
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <label><b>Kode Voucher</b></label>
                  <input type="text" ngModel #kodeVoucher="ngModel"  class="form-control" placeholder="Masukkan kode voucher bila ada">
                </div>
                <div class="col-sm-12 pt-3">
                  <input type="checkbox" id="checkCondition" class="">
                  Saya telah membaca dan memahami serta setuju untuk tunduk pada 
                  Syarat dan Ketentuan Penggunaan Platform dan kebijakan privasi 
                  sebagai pengguna kontrakhukum.com
                </div>
              </div>
            </div>
          </fieldset>
        </wizard-step>
        <wizard-step [title]="'Pembayaran'" (onNext)="onStep2Next($event)">
          <fieldset>
            <div class="card col-sm-8">
              <div class="card-block">
                <div class="card-header col-sm-12">
                  <h1>Pembayaran</h1>
                </div>
                <div class="col-sm-12">
                  <table class="table data-table">
                    <thead>
                      <th>No.</th>
                      <th>Jenis Kontrak</th>
                      <th>Bahasa</th>
                      <th>Biaya</th>
                    </thead>
                    <tbody>
                      <td>1.</td>
                      <td>Perjanjian Kerja Sama</td>
                      <td>Indonesia</td>
                      <td>Rp. 1.000.000,00</td>
                    </tbody>
                  </table>
                </div>
                <div class="card-header col-sm-12">
                  <h1>Pilih Cara Pembayaran</h1>
                </div>
                <div class="col-sm-12">
                  <select class="form-control" [(ngModel)]="caraPembayaranSelect">
                    <option *ngFor="let tmp of caraPembayaran">{{tmp}}</option>
                  </select>
                </div>
                <div class="col-sm-12 pt-3 text-center">
                  <h5>Transfer ke PT Teras Perjanjian Digital</h5>
                  <p>BCA : 0703040818 <br>
                  Bank Mandiri : 1260077877818<br>
                  Bank Permata : 31303068818<br>
                  BNI : 8189818818</p>
                </div>
              </div>
            </div>
          </fieldset>
        </wizard-step>
        <wizard-step [title]="'Selesai'" (onNext)="onStep3Next($event)">
          <div class="card col-sm-8 pt-2">
            <h2 class="text-center">Invoice telah dikirim ke Email Anda</h2>
            <h5 class="pt-3 text-center">Harap segera melakukan pembayaran</h5>
          </div>
        </wizard-step>
      </form-wizard>
    </div>
  </div>
<!-- </app-card> -->