html {
    height: 100%;
  }
  
  body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
  }
  
  .card {
    border-radius: 0px;
    border-top: 0px solid rgba(0, 115, 170, 0);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.0);
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: transparent;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .card .card-header{
    background-color: transparent !important;
    border-bottom: 0;
    margin: 0 -35px;
  }
  
  .card .card-block {
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }
  .card .card-footer {
    width: 100%;
    margin: 0 auto;
    border-radius: 0 0 7px 7px;
  }
  
  #msform ul li,#msform li.active{
    border-bottom: 0 !important;
  }
  #msform .nav-item{
    padding: 0 !important;
    margin-bottom: 20px;
  }
  #msform .nav-item > a{
    font-size: 9px;
    font-weight: 100;
  }
  
  #msform #progressbar li.enabled:before, #progressbar li.enabled:after {
    background: #0073aa !important;
    color: #fff;
  }
  
  #msform {
    width: 100%;
    margin: 50px auto;
    position: relative;
  }
  
  #msform fieldset {
    background: #fff;
    border: 0 none;
    border-radius: 7px 7px 0 0;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    position: relative;
  }
  
  #msform fieldset:not(:first-of-type) {
    display: none;
  }
  img.logo {
    max-width: 120px;
    margin-bottom: 20px;
  }
  #msform p {
    color: #8b9ab0;
    font-size: 12px;
  }
  
  /* Headings */
  .fs-title {
    font-size: 26px;
    font-weight: 200;
    color: #434a54;
    margin-bottom: 20px;
  }
  .fs-subtitle {
    font-weight: 400;
    color: #434a54;
    margin-bottom: 20px;
  }
  
  #msform .h3, h3 {
    font-size: 100%;
  }
  
  #msform .float-right, #msform .float-left {
    float: none !important;
  }
  
  #msform .float-left {
    color: #0073aa;
    background-color: transparent;
    border-color: #0073aa;
  }
  
  #msform .float-right {
    background-color: #0073aa;
    border-color: #0073aa;
    color: #fff;
    cursor: pointer;
    transition: all ease-in 0.3s;
  }
  
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
  }
  #progressbar li {
    list-style-type: none;
    color: #8b9ab0;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
  }
  #progressbar li.active {
    color: #e74c3c;
  }
  #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3em;
    margin: 0 auto 5px auto;
  }
  
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
  }
  #progressbar li:first-child:after {
    content: none;
  }
  