<body class="p-fixed d-flex text-center">
  <div class="auth-fluid">
    <div class="col-sm-12">
      <div class="md-float-material">
        <div class="login-card card-body auth-body">
          <div class="auth-box">
            <div class="col-md-12">
              <h1>Lupa Kata Sandi</h1>
            </div>
            <div class="col-md-12 mt-3">
              <p>Masukkan email anda agar dikirimkan link untuk reset kata sandi</p>
            </div>
            <hr>
            <form #form="ngForm" (ngSubmit)="sendEmail(form)" class="form-signin">
              <label><b>Alamat Email</b></label>
              <input class="form-control" #email="ngModel" type="email" ngModel name="email" placeholder="Alamat Email" required autofocus>
              <button class="mt-2 btn btn-lg btn-dark btn-block">Kirim</button>
            </form>
            <div class="container-fluid">
              <p>Tidak punya akun? <a href="/registration">Daftar Sekarang</a></p>
              <p>Sudah punya akun? <a href="/login">Masuk</a></p>
            </div>
          </div>
          <div class="card-footer text-muted">
            <p>&copy; 2017-2018</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>