.btn-plus{
    margin-top:24px;
    margin-left: -8px;
}
.btn-minus{
    margin-top:-13px;
    margin-left: -8px;

}

.input-round{
    border-radius: 6px;
}
/* Create four equal columns that floats next to each other */

.column2 {
    float: left;
    padding: a
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* On screens that are 992px wide or less, go from four columns to two columns */

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .btn-minus{
        margin-top: -50px;
        margin-left: 200px;
    }
    .btn-plus{
        margin-top: -100px;
        margin-left: 200px;
    }
}
.head-img-cust img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    /* margin-left: 200px; */
}
