
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h4>Edit Trainer</h4>
      </div>
      <div class="col-sm-6">
        <div style="text-align:right;">
          <div class="form-group cust-btn">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

<app-card>
    <div *ngIf="detailTrainer">
        <div class="row">
            <ng-snotify class="material"></ng-snotify>
            <div class="col-sm-12 col-md-6">
                <fieldset>
                    <div [formGroup]="formCreate" class="form-group row">
                        <label class="col-sm-4 col-form-label" for="name">Fullname</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-round" [(ngModel)]="detailTrainer.name" formControlName="nameT">
                            <div style="color: red" class="m-t-5" *ngIf=" nameT.invalid">
                                <div *ngIf="nameT.touched && nameT.errors.required">Trainer Name is required</div>
                                <div *ngIf="nameT.errors.pattern">Trainer Name is must be characters</div>
                                <div *ngIf="nameT.errors.minlength">Trainer Name is must be between 3 - 50 characters</div>
                                <div *ngIf="nameT.errors.maxlength">Trainer Name is must be between 3 - 50 characters</div>
                            </div>
                        </div>
                    </div>
                    <div [formGroup]="formCreate" class="form-group row">
                        <label class="col-sm-4 col-form-label" for="email">Email</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control input-round" name="email" [(ngModel)]="detailTrainer.email" formControlName="emailT">
                            <div style="color: red" class="m-t-5" *ngIf=" emailT.invalid">
                                <div *ngIf=" emailT.touched && emailT.errors.required">Email is required</div>
                                <div *ngIf="emailT.errors.pattern">Email is invalid</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="gender">Gender</label>
                        <div class="col-sm-8">
                            <!-- <input type="text" class="form-control input-round" [(ngModel)]="detailTrainer.gender" readonly> -->

                            <input type="text" class="form-control input-round" value="Male" *ngIf="detailTrainer.gender == 'M'" readonly>
                            <input type="text" class="form-control input-round" value="Female" *ngIf="detailTrainer.gender == 'F'" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="url_ktp">Upload Picture</label>
                        <div class="col-sm-8">
                          <div class="head-img-cust">
                              <img src="{{detailTrainer.url_photo_trainer}}">
                          </div><br>
                            <input type="file" accept=".jpg,.png,.jpeg" (change)="uploadPhotoTrainer($event)">
                        </div>
                    </div>
                    <div [formGroup]="formCreate" class="form-group row">
                        <label class="col-sm-4 col-form-label" for="address">Address</label>
                        <div class="col-sm-8">
                            <textarea rows="2" cols="3" class="form-control input-round" [(ngModel)]="detailTrainer.address" formControlName="addressT"></textarea>
                            <div style="color: red" class="m-t-5" *ngIf=" addressT.invalid">
                                <div *ngIf="addressT.touched && addressT.errors.required">Address is required</div>
                                <div *ngIf="addressT.errors.minlength">Address is invalid</div>
                                <div *ngIf="addressT.errors.maxlength">Address is invalid</div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-12 col-md-6">
                <fieldset>
                    <div [formGroup]="formCreate" class="form-group row">
                        <label class="col-sm-4 col-form-label" for="phone">Phone</label>
                        <div class="col-sm-8">
                            <input name="phone" type="text" class="form-control input-round" (keypress)="isNumber($event)" [(ngModel)]="detailTrainer.phone" formControlName="phoneT">
                            <div style="color: red" class="m-t-5" *ngIf=" phoneT.invalid">
                                <div *ngIf="phoneT.touched && phoneT.errors.required">Phone number is required</div>
                                <div *ngIf="phoneT.errors.pattern">Phone number is invalid</div>
                                <div *ngIf="phoneT.errors.minlength">Phone number is invalid</div>
                                <div *ngIf="phoneT.errors.maxlength">Phone number is invalid</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="no_ktp">KTP Number</label>
                        <div class="col-sm-8">
                            <input name="no_ktp" type="text" class="form-control input-round" (keypress)="isNumber($event)" [(ngModel)]="detailTrainer.no_ktp" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="no_npwp">NPWP Number</label>
                        <div class="col-sm-8">
                            <input name="no_npwp" type="text" class="form-control input-round" (keypress)="isNumber($event)" [(ngModel)]="detailTrainer.no_npwp">
                        </div>
                    </div>
                    <div class="form-group row">
                       <label class="col-sm-4 col-form-label" for="bank">Bank</label>
                       <div class="col-sm-8">
                           <input name="bank" type="text" class="form-control input-round" [(ngModel)]="detailTrainer.bank.name" readonly>
                       </div>
                   </div>
                    <div [formGroup]="formCreate" class="form-group row">
                        <label class="col-sm-4 col-form-label" for="no_rek">Rekening Number</label>
                        <div class="col-sm-8">
                            <input name="no_rek" type="text" class="form-control input-round" (keypress)="isNumber($event)" [(ngModel)]="detailTrainer.no_rek" formControlName="noRekT" readonly>
                            <div style="color: red" class="m-t-5" *ngIf=" noRekT.invalid">
                                <div *ngIf="noRekT.touched && noRekT.errors.required">No Rek is required</div>
                                <div *ngIf="noRekT.errors.pattern">Rekening Number is invalid</div>
                                <div *ngIf="noRekT.errors.minlength">Rekening Number must be 10-15 digits</div>
                                <div *ngIf="noRekT.errors.maxlength">Rekening Number must be 10-15 digits</div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <h4 class="sub-title"></h4>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-4">Specialities</div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12" *ngFor="let sp of data">
                                    <div class="checkbox-fade fade-in-default">
                                        <label>
                                            <input type="checkbox" (change)="checkedSpeciality($event,sp)" [(ngModel)]="sp.value">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                            </span>
                                            <span>{{sp.name}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" *ngFor="let speciality of detailTrainer.trainer_speciality">
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <span>{{speciality.name}} Price</span>
                            </div>
                            <div class="col-sm-7">
                                <input name="price" type="text" name="{{speciality.name}}" class="form-control input-round" (keypress)="isNumber($event)" currencyMask [options]="{ align: 'left', prefix: 'Rp ', precision: '', thousands: '.', decimal: ',' }" [(ngModel)]="speciality.price"
                                    placeholder="Rp. ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-4">Schedule</div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="checkbox-fade fade-in-default">
                                        <label>
                                            <input type="checkbox" (change)="checked($event,'All')" [(ngModel)]="value1">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                            </span>
                                            <span>All</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6" *ngFor="let day of listDay">
                                    <div class="checkbox-fade fade-in-default">
                                        <label>
                                            <input type="checkbox" (change)="checked($event,day.name)" [(ngModel)]="day.value">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                            </span>
                                            <span>{{day.name}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <fieldset>
                            <div class="form-group row" *ngFor="let sch of detailTrainer.day">
                                <label class="col-lg-4 col-sm-12 col-form-label" for="day">Time {{sch.name}}</label>
                                <div class="col-lg-8 col-sm-12">
                                    <div class="form-group row">
                                        <div class="column col-lg-5 col-sm-5">
                                            <ngb-timepicker [(ngModel)]="sch.start_time">Start</ngb-timepicker>
                                        </div>
                                        <div class="column col-lg-5 col-sm-5">
                                            <ngb-timepicker [(ngModel)]="sch.end_time">End Time</ngb-timepicker>
                                        </div>
                                        <div class="column2 col-lg-2">
                                            <div style="margin-top: 30px;margin-left: -10px"><button class="ti-plus input-round" style="font-size:22px;cursor:pointer;color:green;outline: 0;" (click)="addComponent(sch.name,sch.start_time,sch.end_time)">
                                            </button></div>
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngFor="let shift of sch.shift; let index = index">
                                        <div class="column col-lg-10 col-10">
                                            <div class="row">
                                                <div class="col-lg-4 col-5">
                                                    Shift {{index+1}} :
                                                </div>
                                                <div class="form-group col-lg-8 col-12">
                                                    <div class="col-lg-12 col-12">
                                                        <span *ngIf="shift.start_time.hour < 10">0</span>{{shift.start_time.hour}}.
                                                        <span *ngIf="shift.start_time.minute < 10">0</span>{{shift.start_time.minute}} -
                                                        <span *ngIf="shift.end_time.hour < 10">0</span>{{shift.end_time.hour}}.
                                                        <span *ngIf="shift.end_time.minute < 10">0</span>{{shift.end_time.minute}}
                                                        <!-- <span *ngIf="shift.shift < 10">0</span>{{shift.start_time - shift.end}} -->
                                                    </div>
                                                    <div class="col-lg-12 col-12">
                                                        ({{shift.shift_range}} hours range)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column col-lg-2 col-2">
                                            <i class="ti-trash" style="font-size:18px ; cursor: pointer; color:red" (click)="removeObject(shift.start_time,shift.end_time,sch)">
                                            </i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" *ngFor="let schedule of formCreateTrainer.schedule_list">
                                <label class="col-lg-4 col-sm-12 col-form-label" for="day">Time {{schedule.day}}</label>

                                <div class="col-lg-8 col-sm-12">
                                    <div class="form-group row">
                                        <div class="column col-lg-5 col-sm-5">
                                            <ngb-timepicker [(ngModel)]="schedule.start_time">Start</ngb-timepicker>
                                        </div>
                                        <div class="column col-lg-5 col-sm-5">
                                            <ngb-timepicker [(ngModel)]="schedule.end_time">End Time</ngb-timepicker>
                                        </div>
                                        <div class="column2 col-lg-2">
                                            <button class="btn btn-success  btn-icon btn-m btn-plus" (click)="addComponent(schedule.day,schedule.start_time,schedule.end_time)">
                                                <i class="icofont icofont-plus" style="margin-left:5px;"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngFor="let shift of schedule.shift; let index = index">
                                        <div class="column col-lg-10 col-sm-10">
                                            Shift {{index+1}} :
                                            <span *ngIf="shift.start_time.hour < 10">0</span>{{shift.start_time.hour}}.
                                            <span *ngIf="shift.start_time.minute < 10">0</span>{{shift.start_time.minute}} -
                                            <span *ngIf="shift.end_time.hour < 10">0</span>{{shift.end_time.hour}}.
                                            <span *ngIf="shift.end_time.minute < 10">0</span>{{shift.end_time.minute}}
                                        </div>

                                        <div class="column col-lg-2">
                                            <i class="ti-trash" style="font-size:18px ; cursor: pointer; color:red" (click)="removeObject(shift.start_time,shift.end_time)">
                                            </i>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <h4 class="sub-title"></h4>
        <div class="row justify-content-end">
            <div class="col-lg-3 col-md-12">
                <div class="form-group">
                    <button class="btn btn-danger input-round btn-block" (click)="cancel()">Cancel</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="form-group">
                    <button class="btn btn-success input-round btn-block" (click)="updateContact()">Save</button>
                </div>
            </div>
        </div>
    </div>

</app-card>
