<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
          <img class="user-img img-radius img-center" src="assets/images/mufit all logo.png">
          <form class="md-float-material">
            <div class=" content">
                <div class="pt-3">
                    <!-- <h5>{{header}}</h5> -->
                    <h3><p>Congratulations! Your password has been changed! </p></h3>
                    <!-- <p>Click <a href="/login">here </a>if the browser didn't redirect you</p> -->
                    <br>

                  </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</section>
