<app-card>
    <div class="row" style="margin-top:35px; margin-bottom:15px;">
        <div class="col-lg-12">
            <div class="head-form">Customer Data</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <fieldset>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="name">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-round" [(ngModel)]="DetailBooking.customer_name">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-12 col-md-6">
            <fieldset>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="name">phone</label>
                    <div class="col-sm-8">
                        <input type="phone" class="form-control input-round" [(ngModel)]="DetailBooking.customer_phone">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <hr style="height:1px;border:none;color:gray;background-color:gray;" />


    <div class="row" style="margin-bottom:40px;">
        <div class="col-lg-12">
            <div class="head-form">Trainer Selected</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-12 header-k-mb">
            <div class="row">
                <div class="col-lg-3" style="margin-top:-23px;">
                    <img class="user-img img-radius " src="assets/images/user-profile/user-img.jpg" alt="user-img" style="height:70px;">
                </div>
                <div class="col-lg-9">
                    <h4 class="header-name">
                        {{DetailBooking.trainer_name}}
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 header-k-mb">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 head-form1">Phone</div>
                <div class="col-sm-12 col-md-8 col-lg-8">{{DetailBooking.trainer_phone}}</div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 head-form1">Class</div>
                <div class="col-sm-12 col-md-8 col-lg-8" *ngFor="let a of DetailBooking.booking_speciality_list">{{a.name}}</div>
            </div>
        </div>
    </div>


    <hr style="height:1px;border:none;color:gray;background-color:gray;" />
        <div class="row margin-head">
            <div class="col-lg-4 col-md-12">
                <div class="head-form margin-head-d header-k-mb">Booking Date</div>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            {{DetailBooking.date_booking}}

                        </div>
                    </div>
                </form>
                <!-- <ngb-datepicker [(ngModel)]="model"></ngb-datepicker> -->
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="head-form margin-head-d header-k-mb">Select Shift</div>
                <div >
                    <div>
                        <div class="row">
                            <!-- <div *ngIf="detail">
                                {{detail.name}}
                            </div> -->
                            <div class="col-sm-6" *ngFor="let shift of data">
                                <div class="checkbox-fade fade-in-default">
                                    <label>
                                        <input type="checkbox" (change)="checkedShift($event,shiftTime)" [(ngModel)]="shift.value" >
                                        <span class="cr">
                                            <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                        </span>
                                        {{data.start_time.hour}}:{{data.start_time.minute}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <div class="col-lg-4 col-md-12">
            <div class="head-form margin-head header-k-mt header-k-mb">If you choose more than one trainer's available time
            </div>
            <div class="form-radio">
                <form>
                    <div class="radio radio-inline">
                        <label>
                            <input type="radio" name="radio" checked="checked">
                            <i class="helper"></i>Join all shifts without time break
                        </label>
                        <label>
                            <input type="radio" name="radio">
                            <i class="helper"></i>Separate shifts base on schedule
                        </label>
                    </div>
                </form>
            </div>
        </div>
        
        <hr style="height:1px;border:none;color:gray;background-color:gray;" />
        <div class="row">
            <div class="col-sm-6">
                <div class="head-form">Select Class</div>
                <p>Categories / Specialities of Trainer</p>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-lg-6" *ngFor="let speciality of detail.trainer_speciality; let index=index">
                <div class="row">
                    <div class="col-lg-7 col-sm-6">
                        <div class="checkbox-fade fade-in-default">
                            <label>
                                <input type="checkbox">
                                <span class="cr">
                                    <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                </span>
                            </label>
                        </div>
                        <label for="{{speciality.id}}">
                            <span class="check-line">{{speciality.name}}
                                <br>Rp. {{speciality.price}}</span>
                        </label>
                    </div>
                    <div class="col-lg-5 col-sm-6">
                        <div class="row">
                            <div class="col-lg-10 col-sm-6 col-8">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button (click)="decrement()" class="btn btn-primary btn-outline-default btn-icon">
                                            <i class="icofont icofont-minus"></i>
                                        </button>
                                    </span>
                                    <input type="number" name="quant[2]" class="form-control input-number input-md" id="speciality.id" [(ngModel)]="counter">
                                    <span class="input-group-btn">
                                        <button (click)="increment()" class="btn btn-primary btn-outline-default btn-icon">
                                            <i class="icofont icofont-plus"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <hr style="height:1px;border:none;color:gray;background-color:gray;" />

    <div class="row">
        <div class="col-sm-12">
            <div class="head-form">Address</div>
            <p>Pick your location on map</p>
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    </div>
    <hr style="height:1px;border:none;color:gray;background-color:gray;" />
    <div class="row">
        <div class="col-lg-8 col-sm-6 col-12">
            <div class="head-pay col-form-label">Total</div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12">
            <div style="text-align:right" class="harga">
                <span class="rp">Rp.</span> 20.200.000</div>
        </div>
    </div>
    <hr style="height:1px;border:none;color:gray;background-color:gray;" />
</app-card>