agm-map { 
    height: 300px; 
    } 
    
    .cust-search-button { 
    /* height: 30px; */ 
    border-radius: 6px; 
    } 
    .user-content{ 
    
    margin: -5px; 
    shape-margin: 30px; 
    } 
    .card{ 
    border-radius: 15px; 
    margin-right: -20px; 
    margin-bottom: 10px; 
    } 
    
    .warna a{ 
    color: black; 
    font-size: 16px; 
    word-spacing: 6px; 
    
    } 
    .speclity { 
    word-spacing: -1px; 
    font-size: 16px; 
    } 
    .card-block{ 
    border-color: orangered; 
    } 
    .pagination{ 
    justify-content: center; 
    } 
    .justify-content-center { 
    display: flex !important; 
    justify-content: center !important; 
    } 
    
    ngb-pagination /deep/ .page-link { 
    border: none; 
    } 
    
    ngb-pagination /deep/ .page-item .page-link{ 
    background-color: inherit; 
    color: black; 
    margin-left: 5px; 
    margin-right: -15px; 
    } 
    
    ngb-pagination /deep/ .page-item.active .page-link { 
    color: orange; 
    font-weight: bold; 
    } 
    
    .test-pagination{ 
    margin-top: 5.8px; 
    } 
    
    @media only screen and (max-width: 600px) { 
    .test-pagination{ 
    margin-top: 15px; 
    } 
    } 
    
    /* Create Booking */ 
    
    .head-form1{ 
    font-weight: bold; 
    } 
    
    .head-form{ 
    font-weight: bold; 
    font-size: 17px; 
    } 
    
    .margin-head{ 
    margin-bottom: 20px; 
    } 
    
    .margin-head-d{ 
    margin-bottom: 48px; 
    } 
    
    .check-line{ 
    vertical-align: middle; 
    } 
    
    .head-pay{ 
    font-weight: bold; 
    font-size: 20px; 
    } 
    
    .harga{ 
    font-weight: bold; 
    font-size: 25px; 
    color: rgb(233, 127, 19); 
    } 
    
    .rp{ 
    color: gray; 
    font-weight: normal; 
    font-size: 18px; 
    margin-right: 15px; 
    } 
    
    .btn-crt{ 
    width: 220px; 
    } 
    
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    } 
    
    @media only screen and (max-width: 800px) { 
    .header-k-mb { 
    margin-bottom: 15px; 
    } 
    .header-k-mt{ 
    margin-top: 15px; 
    } 
    .header-name{ 
    font-weight: bold; 
    font-size: 20px; 
    } 
    .garis{ 
    visibility: hidden; 
    margin-top: -20px; 
    } 
    } 
    
    @media only screen and (max-width: 990px) { 
    .header-k-mb { 
    margin-bottom: 15px; 
    } 
    .header-k-mt{ 
    margin-top: 15px; 
    } 
    .header-name{ 
    font-weight: bold; 
    font-size: 20px; 
    } 
    } 
    
    @media only screen and (min-width: 1000px) { 
    .header-name{ 
    font-weight: bold; 
    font-size: 18px; 
    } 
    } 
    
    @media only screen and (max-width: 574px) { 
    .head-pay{ 
    text-align: right; 
    } 
    } 
    
    /* form-wizard /deep/ .btn-secondary{ 
    background-color: rgb(53, 107, 179); 
    } */ 
    
    form-wizard /deep/ .btn-secondary.float-left{ 
    color: #fff; 
    background-color: #d9534f; 
    border-color: #d43f3a; 
    } 
    
    form-wizard /deep/ .btn-secondary.float-right{ 
    color: #fff; 
    background-color: #5cb85c; 
    border-color: #4cae4c; 
    } 
    
    /* Orange Color (radio button, form wizard) */ 
    /* rgb(233, 127, 19) */ 
    /* .radio .helper::after, .radio .helper::before { 
    content: ''; 
    position: absolute; 
    left: 0; 
    top: 3px; 
    margin: 0.25rem; 
    width: 1rem; 
    height: 1rem; 
    transition: -webkit-transform 0.28s ease; 
    transition: transform 0.28s ease, -webkit-transform 0.28s ease; 
    border-radius: 50%; 
    border: 0.125rem solid rgb(233, 127, 19); 
    } 
    
    .radio .helper::after { 
    background-color: rgb(233, 127, 19); 
    border-color: rgb(233, 127, 19); 
    } 
    
    form-wizard /deep/ .nav-item.active.enabled{ 
    border-bottom-color: rgb(233, 127, 19) !important; 
    } 
    
    form-wizard /deep/ .enabled{ 
    border-bottom-color: rgb(235, 172, 110) !important; 
    } */ 
    
    .img-radius{ 
    border-radius: 50%; 
    }