.head-img img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
        /* margin-left: 200px; */
}


.label{
  color: gray;
}

.head{
  text-align: left;
}

.input-round{
  border-radius: 6px
}

@media only screen and (max-width: 766px) {
  .img-center{
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 90px;
      margin-bottom: 15px;
  }

  .name-center{
    text-align: center;
    font-size: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .img-center{
      margin-bottom: 15px;
  }
}

.btn{
  border-radius: 6px;
}
