<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
        <h4>User Detail</h4><br>
    </div>
  </div>
</div>
<app-card>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-1 head-img">
        <img src="{{user.photo_selfie}}">
    </div><br><br>
    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-11 head">
      <h4>
        <div class="name-center">{{user.full_name}}</div>
      </h4>
      <h5>Review: -
        <!-- {{user.review}} -->
      </h5>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-12">
      <button class="btn btn-info btn-block"(click)="editDetail()">Edit Profile</button>
    </div>
  </div>
  <hr>
  <div class="row"><ng-snotify class="material"></ng-snotify>
     <div class="col-sm-12 col-md-6">
        <fieldset>
           <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="name" >Fullname
              </label>
              <div class="col-sm-8">
                 <input type="text" class="form-control input-round" [(ngModel)] ="user.full_name" readonly>
              </div>
           </div>
           <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="email">Email
              </label>
              <div class="col-sm-8">
                 <input type="email" class="form-control input-round" [(ngModel)]="user.email" readonly>
              </div>
           </div>
           <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="address">Address
              </label>
              <div class="col-sm-8">
                <textarea rows="2" cols="3" class="form-control input-round" [(ngModel)]="user.address" readonly></textarea>
              </div>
           </div>
        </fieldset>
     </div>
     <div class="col-sm-12 col-md-6">
        <fieldset>
          <div class="form-group row">
             <label class="col-sm-4 col-form-label" for="phone">Phone
             </label>
             <div class="col-sm-8">
               <input name="phone" type="text" class="form-control input-round" [(ngModel)]="user.phone" readonly>
             </div>
          </div>
           <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="since">Since
              </label>
              <div class="col-sm-8">
                 <input name="since" type="text" class="form-control input-round" [(ngModel)]="user.date_created" readonly>
              </div>
           </div>
           <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="status">Status
              </label>
              <div class="col-sm-8">
                 <input name="status" type="text" class="form-control input-round" readonly>
              </div>
           </div>
        </fieldset>
     </div>
  </div>
</app-card>
