
<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <ng-snotify class="material"></ng-snotify>
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material"  #form="ngForm" (ngSubmit)="login(form)">
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <img class="user-img img-radius img-center" src="assets/images/mufit all logo.png" width="50%">
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <label class="sr-only"><b>Username</b></label>
                <input type="email" #username="ngModel" style="border-radius: 6px;" ngModel  name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <label class="mt-2 sr-only"><b>Password</b></label>
                <input type="password" #password="ngModel" style="border-radius: 6px;" ngModel name="password" id="inputPassword" class="form-control" placeholder="Password" required>
              </div>
                <button class="btn btn-primary2 btn-md input-round btn-block waves-effect text-center m-b-20">Masuk</button>
            
            <div class="card-footer text-muted">
              <p>&copy; 2017-2018</p>
            </div>
          </div>
          </form>

          
    </div>
  </div>
</div>
</div>
</section>