<body class="p-fixed d-flex text-center">
    <div class="auth-fluid">
        <div class="col-sm-12">
            <div class="login-card card-body auth-body">
                <div class="auth-box">  
                    <div class="col-md-12">
                        <h1>Daftar Akun</h1>
                    </div>
                    <div class="col-md-12 mt-3">
                        <p>Masukkan email, data diri, dan password anda</p>
                    </div>
                    <hr>
                    <form #form="ngForm" (ngSubmit)="create(form)" class="form-signin">
                        <label class=""><b>Alamat Email</b></label>
                        <input type="email" ngModel #email="ngModel" name="email" id="inputEmail" class="form-control" placeholder="kontrakhukum@email.com" required autofocus>
                        <label class="mt-2"><b>Nama Lengkap</b></label>
                        <input type="text" ngModel #full_name="ngModel" name="full_name" id="inputName" class="form-control" placeholder="Rieke Caroline" required>
                        <label class="mt-2"><b>Nomor Telepon</b></label>
                        <input type="number" ngModel #phone_number="ngModel" name="phone_number" id="inputPhone" class="form-control" placeholder="08123456789" required>
                        <label class="mt-2"><b>Kata Sandi</b></label>
                        <input type="password" ngModel #password="ngModel" name="password" id="inputPassword" class="form-control" placeholder="Kata Sandi" required>
                        <label class="mt-2"><b>Konfirmasi Kata Sandi</b></label>
                        <input type="password" ngModel #confirm_password="ngModel" name="confirm_password" id="inputConfPassword" class="form-control" placeholder="Konfirmasi Kata Sandi" required>
                        <button class="btn btn-lg btn-dark mt-3 btn-block">Daftar</button>
                        <p class="mt-4 mb-3">Sudah punya akun? <a href="/login">Masuk</a></p>
                        <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p> -->
                    </form>
                    <div class="card-footer text-muted">
                        <p>&copy; 2017-2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>