<div class="container-fluid m-b-20">
  <div class="row">
    <div class="col-sm-6">
      <h4>Add Voucher</h4>
    </div>
  </div>
  <ng-snotify class="material"></ng-snotify>
</div>

<app-card>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <fieldset>
        <!-- <div [formGroup]="formCreate" class="form-group row">
          <label class="col-sm-4 col-form-label" for="email">Voucher Code</label>
          <div class="col-sm-8">
            <input type="text" class="form-control input-round" [(ngModel)]="formVoucher.code" formControlName="code">
            <div style="color: red" class="m-t-5" *ngIf="code.touched && code.invalid">
              <div *ngIf="code.errors.required">Name is required</div>
              <div *ngIf="code.errors.minlength">Name must be more than 3 characters</div>
              <div *ngIf="code.errors.maxlength">Name must be less than 50 characters</div>
            </div>
          </div>
        </div> -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="email">Voucher Code</label>
            <div class="col-sm-8">
              <input type="text" class="form-control input-round" [(ngModel)]="formVoucher.code">
            </div>
          </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="email">Description</label>
          <div class="col-sm-8">
            <textarea class="form-control input-round" style="min-height: 80px; max-height: 250px" [(ngModel)]="formVoucher.description"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="email">Expiration</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input class="form-control input-round" placeholder="Start Date" name="dp" [(ngModel)]="model1" ngbDatepicker #d="ngbDatepicker"
                readonly>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                  <i class="icofont icofont-ui-calendar" style="margin-left:5px; color:#1976d2"></i>
                </button>
              </div>
            </div>
            <div class="input-group">
              <input class="form-control input-round" placeholder="End Date" name="dpEnd" [(ngModel)]="model2" ngbDatepicker #h="ngbDatepicker"
                readonly>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="h.toggle()" type="button">
                  <i class="icofont icofont-ui-calendar" style="margin-left:5px; color:#1976d2"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="email">Voucher Type</label>
          <div class="col-sm-8">
            <div class="input-group">
              <select class="form-control input-round" (change)="reset()" [(ngModel)]="formVoucher.type">
                <option value="">- Please Select -</option>
                <option value="nominal">Direct Cut</option>
                <option value="percent">Discount</option>
              </select>
            </div>
            <div class="row">
              <div class="col-lg-7" *ngIf="formVoucher.type == 'nominal'">
                <input name="price" type="text" class="form-control input-round" [(ngModel)]="value111" (keypress)="isNumber($event)" placeholder="Amount"
                  currencyMask [options]="{ align: 'left', prefix: 'Rp ', precision: '', thousands: '.', decimal: ',' }" />
              </div>
              <div class="col-lg-5" *ngIf="formVoucher.type == 'nominal'">
                <input type="text" class="form-control input-round" [(ngModel)]="quantity111" (keypress)="isNumber($event)" placeholder="Quantity"
                  currencyMask [options]="{ align: 'left', prefix: 'x ', precision: '', thousands: '.', decimal: ',' }" />
              </div>
              <div class="col-lg-7" *ngIf="formVoucher.type == 'percent'">
                <input name="price" type="text" class="form-control input-round" [(ngModel)]="value111" (keypress)="isNumber($event)" placeholder="Amount"
                  currencyMask [options]="{ align: 'left', prefix: '% ', precision: '', thousands: '.', decimal: ',' }" />
              </div>
              <div class="col-lg-5" *ngIf="formVoucher.type == 'percent'">
                <input type="text" class="form-control input-round" [(ngModel)]="quantity111" (keypress)="isNumber($event)" placeholder="Quantity"
                  currencyMask [options]="{ align: 'left', prefix: 'x ', precision: '', thousands: '.', decimal: ',' }" />
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row m-t-20">
    <div class="col-sm-6">
      <div class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
          <button class="btn btn-success input-round btn-block" (click)="createVoucher()">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
          <button class="btn btn-danger input-round btn-block" routerLink="/voucher/list">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</app-card>