.form-control.ng-touched.ng-invalid{
    border: 1px solid red;
}

.input-round{
    border-radius: 6px;
}

/* .height-cover {
    height: 200px;
} */

/* @media only screen and (max-width: 877px) {
    .height-cover{
        height: 180px;
    }   
}

@media only screen and (max-width: 768px) {
    .height-cover{
        height: 170px;
    }   
}

@media only screen and (max-width: 380px) {
    .height-cover{
        height: 150px;
    }   
}

@media only screen and (max-width: 320px) {
    .height-cover{
        height: 130px;
    }   
} */