<div class="container-fluid m-b-20">
    <div class="row">
      <div class="col-sm-6">
        <h4>Add Cover</h4>
      </div>
    </div>
    <ng-snotify class="material"></ng-snotify>
</div>

<app-card>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <fieldset>
                <!-- <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="email">Email</label>
                    <div class="col-sm-8">
                    <input type="email" class="form-control input-round" >
                    </div>
                </div> -->
                <!-- <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="content">Content</label>
                    <div class="col-sm-8">
                        <select name="select" class="form-control input-round" [(ngModel)]="formCreateTrainer.gender">
                        <select name="select" class="form-control input-round">
                            <option value="">- Please Select -</option>
                            <option value="CI">Cover Image</option>
                        </select>
                    </div>
                </div> -->
                <!-- <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="email"></label>
                    <div class="col-sm-8">
                        <img src="{{formUploadCover.url_cover}}" height="150px"/>
                    </div>
                </div> -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="email">Cover Image</label>
                    <div class="col-sm-8">
                    <input type="file" class="form-control input-round" accept="image/*" (change)="uploadCover($event)">
                    </div>
                </div>
                <div class="form-group row" [formGroup]="form">
                    <label class="col-sm-4 col-form-label" for="email">Header</label>
                    <div class="col-sm-8">
                    <input type="text" class="form-control input-round" formControlName="header" [(ngModel)]="formUploadCover.header">
                    <div class="m-t-5" style="color:red" *ngIf="header.touched && header.invalid">
                        <div *ngIf="header.errors.required">Header is required</div>
                        <div *ngIf="header.errors.minlength">Header must be 3-100 characters</div>
                        <div *ngIf="header.errors.maxlength">Header must be 3-100 characters</div>
                    </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="email">Description</label>
                    <div class="col-sm-8">
                    <!-- <input type="text" class="form-control input-round" > -->
                    <textarea class="form-control input-round" style="min-height: 150px; max-height: 250px" [(ngModel)]="formUploadCover.description"></textarea>
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="email">Header</label>
                    <div class="col-sm-8">
                    <input type="email" class="form-control input-round" >
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="email">URL</label>
                    <div class="col-sm-8">
                    <input type="email" class="form-control input-round" >
                    </div>
                </div> -->
            </fieldset>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="text-center" *ngIf="formUploadCover.url_cover == ''">
                <img class="img-fluid height-cover" src="assets/images/mufit logo with border.png"/>
            </div>
            <div class="text-center">
                <img class="img-fluid height-cover" src="{{formUploadCover.url_cover}}"/>
            </div>
        </div>
    </div>
    
    <!-- <div class="col-sm-6">
        <img src="{{formUploadCover.url_cover}}" height="300px"/>
    </div> -->
    <!-- <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="form-group">
                    <button class="btn btn-danger btn-round btn-block">Cancel</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="form-group">
                    <button class="btn btn-success btn-round btn-block" (click)="createContact()">Save</button>
                </div>
            </div>
    </div> -->
    <div class="row m-t-20">
        <div class="col-sm-6">
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button class="btn btn-success input-round btn-block" (click)="submitCover()">Upload</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button class="btn btn-danger input-round btn-block" routerLink="/content/list">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</app-card>