<ng-snotify class="material"></ng-snotify>
<body class="p-fixed d-flex text-center">
  <div class="auth-fluid">
    <div class="col-sm-12">
      <div class="md-float-material">
        <div class="login-card card-body auth-body">
          <div class="auth-box">
            <div class="col-md-12">
              <h1>Change Password</h1>
            </div>
            <div class="col-md-12 mt-3">
              <p>Enter your new password.</p>
            </div>
            <hr>
            <div [formGroup]="formNewPass">
              <label><b>New Password</b></label>
              <input class="form-control" type="password" formControlName="new_password" placeholder="New Password" [(ngModel)]="formPass.new_password" required>
              <div class="alert-danger m-t-5" *ngIf="formNewPass.get('new_password').invalid" >
                  <div *ngIf="formNewPass.get('new_password').errors.required && formNewPass.get('new_password').touched">Password is required</div>
                  <div *ngIf="formNewPass.get('new_password').errors.pattern">Password must be minimal 8 character mix with alphanumeric</div>
              </div>
              <br>
              <label><b>Password Confirmation</b></label>
              <input class="form-control" type="password" formControlName="new_password_confirmation" placeholder="New Password Confirmation" [(ngModel)]="formPass.new_password_confirmation" required>
              <div class="alert-danger m-t-5" *ngIf="formNewPass.get('new_password_confirmation').invalid" >
                  <div *ngIf="formNewPass.get('new_password_confirmation').errors.required && formNewPass.get('new_password').touched">Password confirmation is required</div>
                  <div *ngIf="formNewPass.get('new_password_confirmation').hasError('invalid')">Password confirmation does not match</div>
              </div>
            </div>
            <button class="mt-2 btn btn-lg btn-warning btn-block" (click)="changePass()">Save</button>
          </div>
          <div class="card-footer text-muted">
            <p>&copy; 2018</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
