.star {
      font-size: 1.5rem;
      color: #b0c4de;
    }
    .filled {
      color: red;
    }
    .bad {
      color: #deb0b0;
    }
    .filled.bad {
      color: #ff1e1e;
    }
agm-map { 
    height: 300px; 
    }
    
.img-ph{
    max-height:200px;
}
    
    .cust-search-button { 
    /* height: 30px; */ 
    border-radius: 6px; 
    } 
    
    .warna a{ 
    color: black; 
    font-size: 16px; 
    word-spacing: 6px; 
    
    } 
    .speclity { 
    word-spacing: -1px; 
    font-size: 16px; 
    } 
    .card-block{ 
    border-color: orangered; 
    } 
    .pagination{ 
    justify-content: center; 
    } 
    .justify-content-center { 
    display: flex !important; 
    justify-content: center !important; 
    } 
    
    .test-pagination{ 
    margin-top: 5.8px; 
    } 
    
    @media only screen and (max-width: 600px) { 
    .test-pagination{ 
    margin-top: 15px; 
    } 
    } 
    
    /* Create Booking */ 
    
    .head-form1{ 
    font-weight: bold; 
    } 
    
    .head-form{ 
    font-weight: bold; 
    font-size: 17px; 
    } 
    
    .margin-head{ 
    margin-bottom: 20px; 
    } 
    
    .margin-head-d{ 
    margin-bottom: 48px; 
    } 
    
    .check-line{ 
    vertical-align: middle; 
    } 
    
    .head-pay{ 
    font-weight: bold; 
    font-size: 20px; 
    } 
    
    .harga{ 
    font-weight: bold; 
    font-size: 25px; 
    color: rgb(233, 127, 19); 
    } 
    .harga2{ 
    font-weight: bold; 
    font-size: 25px; 
    } 
    
    .rp{ 
    color: gray; 
    font-weight: normal; 
    font-size: 18px; 
    margin-right: 15px; 
    } 
    
    .btn-crt{ 
    width: 220px; 
    } 
    
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    } 
    
    @media only screen and (max-width: 800px) { 
    .header-k-mb { 
    margin-bottom: 15px; 
    } 
    .header-k-mt{ 
    margin-top: 15px; 
    } 
    .header-name{ 
    font-weight: bold; 
    font-size: 20px;
    text-align: center;
    } 
    .garis{ 
    visibility: hidden; 
    margin-top: -20px; 
    }
    .img-center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 90px;
        margin-bottom: 10px;
    }
    } 
    
    @media only screen and (max-width: 990px) { 
        .header-k-mb { 
        margin-bottom: 15px; 
        }

        .header-k-mt{ 
        margin-top: 15px; 
        }

        .header-name{ 
        font-weight: bold; 
        font-size: 20px; 
        text-align: center;
        }

    .img-center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 90px;
        margin-bottom: 10px;
        }
    } 
    
    @media only screen and (min-width: 1000px) { 
        .header-name{ 
        font-weight: bold; 
        font-size: 18px; 
        } 
    } 
    
    @media only screen and (max-width: 574px) { 
        .head-pay{ 
        text-align: right; 
    }
    
        .img-ph{
        max-height:180px;
    }
    } 
    
    .img-radius{ 
        border-radius: 50%; 
    }

    .input-round {
        border-radius: 6px;
    }

    .form-control.ng-touched.ng-invalid{
        border: 1px solid red;
    }