<div class="row">
  <div class="col-lg-12 col-form-label">
    <h4>Booking Detail</h4>
  </div>
  <!-- <div class="col-lg-3">
      <button class="btn btn-primary input-round btn-block" routerLink="/booking/edit/{{DetailBooking.id}}">Edit Booking</button>
    </div> -->
  <ng-snotify class="material"></ng-snotify>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-auto">
      <p *ngIf="DetailBooking.status_booking == 'APPROVED'" style="font-size: 20px;color: #d9534f; font-weight: 700">UNPAID</p>
      <p *ngIf="DetailBooking.status_booking == 'PAID'" style="font-size: 20px;color: green; font-weight: 700">PAID</p>
      <p *ngIf="DetailBooking.status_booking == 'PENDING'" style="font-size: 20px;color: #f0ad4e; font-weight: 700">UNAPPROVE</p>      
      <p *ngIf="DetailBooking.status_booking == 'COMPLETED'" style="font-size: 20px;color: #337ab7; font-weight: 700">COMPLETED</p>     
      <p *ngIf="DetailBooking.status_booking == 'RATED'" style="font-size: 20px;color: #337ab7; font-weight: 700">RATED</p>      
      <!-- #337ab7 -->
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="text-align:right">
    <div class="form-group cust-btn" *ngIf="DetailBooking.status_booking == 'APPROVED'">
      <button class="btn btn-danger input-round waves-effect md-trigger" type="button" (click)="openSwalR()">Cancel Booking</button>
      <button class="btn btn-success input-round waves-effect md-trigger" type="button" (click)="openMyModal('effect-2')">Confirm Booking</button>
    </div>
    <div class="form-group cust-btn" *ngIf="DetailBooking.status_booking == 'PAID' ">
      <button class="btn btn-success input-round waves-effect md-trigger" type="button" (click)="openMyModal('effect-6')">Add Rating</button>
    </div>
  </div>
</div>

<app-card>
  <div class="row">
    <div class="col-lg-12">
      <div class="head-form">Customer Data</div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-5 col-md-6 col-6">
      <fieldset>
        <div class="form-group row">
          <div class="col-lg-4 head-form1">Name</div>
          <div class="col-lg-8">
            {{DetailBooking.customer_name}}
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-lg-6 col-md-6 col-6">
      <div class="form-group row">
        <div class="col-lg-4 head-form1">Phone</div>
        <div class="col-lg-8">
          {{DetailBooking.customer_phone}}
        </div>
      </div>
    </div>
  </div>
  <hr style="height:1px;border:none;color:gray;background-color:gray;" />
  <div class="row">
    <div class="col-lg-12">
      <div class="head-form">Trainer Selected</div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-5 col-sm-12 header-k-mb">
      <div class="row">
        <div class="col-lg-3">
          <img class="user-img img-radius img-center" src="{{DetailBooking.photo_trainer}}" alt="user-img" style="height:70px;">
        </div>
        <div class="col-lg-9">
          <h4 class="header-name" style="margin-top:20px;">
            {{DetailBooking.trainer_name}}
          </h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6">
      <div class="form-group row">
        <div class="col-lg-4 head-form1">Phone</div>
        <div class="col-lg-8">
          {{DetailBooking.trainer_phone}}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-4 head-form1">Class</div>
        <div class="col-lg-8">
          <div class="row" style="margin-left: 0px" *ngFor="let a of DetailBooking.booking_speciality_list">
            {{a.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-6">
      <div class="form-group row">
        <div class="col-lg-4 head-form1">Date</div>
        <div class="col-lg-8">
          {{DetailBooking.date_booking}}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-4 head-form1">Shift</div>
        <div class="col-lg-8">
          <div class="row" style="margin-left: 0px" *ngFor="let b of DetailBooking.booking_shift_list">
            {{b.start_time}} - {{b.end_time}}
          </div>
          {{joinDesc}}
        </div>
      </div>
    </div>
  </div>


  <hr style="height:1px;border:none;color:gray;background-color:gray;" />

  <div class="row">
    <div class="col-sm-12">
      <div class="head-form">Address</div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          {{DetailBooking.address}}
        </div>
      </div>
      <br><br>
      <agm-map [latitude]="DetailBooking.latitude" [zoom]="16" [longitude]="DetailBooking.longitude">
        <agm-marker [latitude]="DetailBooking.latitude" [longitude]="DetailBooking.longitude"></agm-marker>
      </agm-map>
    </div>
  </div>
  <hr style="height:1px;border:none;color:gray;background-color:gray;" />
  <div class="row">
    <div class="col-lg-8 col-sm-6 col-12">
      <div class="head-pay col-form-label">Total</div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12">
      <div style="text-align:right" class="harga2">
        <span class="rp">Rp.</span> {{DetailBooking.bill}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-sm-6 col-12">
      <div class=" col-form-label">Discount</div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12">
      <div style="text-align:right" class="">
        <span class="rp"></span> {{DetailBooking.discount}}</div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-8 col-sm-6 col-12">
      <div class="head-pay col-form-label">Grand Total</div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12">
      <div style="text-align:right" class="harga">
        <span class="rp">Rp.</span> {{DetailBooking.grand_total}}</div>
    </div>
  </div>
  <button class="btn-info" routerLink="/booking/edit/{{book.id}}" *ngFor="let book of booking">Edit</button>
  <div class="row">
    <!-- <div class="col-sm-6">
      <div class="form-group cust-btn">
        <button class="btn btn-danger btn-outline-danger input-round waves-effect md-trigger" type="button" (click)="openSwalR()">Cancel Booking</button>
      </div>
    </div> -->
    <!-- <div class="col-sm-6">
      <div class="form-group cust-btn" style="text-align:right">
        <button class="btn btn-success btn-outline-success input-round waves-effect md-trigger" type="button" (click)="openMyModal('effect-2')">Confirm Booking</button>
      </div>
    </div> -->
  </div>
</app-card>
<app-modal-animation [modalID]="'effect-5'" [modalClass]="'md-effect-10'">
  <h3>Confirmation</h3>
  <div style="text-align: center">
    <ul>
      <li>You are about to cancel this booking</li>
      <li>Are you sure ?</li>
    </ul>
    <button class="btn btn-danger input-round" type="button" (click)="clickDelete()" >Yes</button>
  </div>
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn">
    <i class="icofont icofont-ui-close"></i>
  </button>

</app-modal-animation>
<!-- <app-modal-animation [modalID]="'effect-6'" [modalClass]="'md-effect-10'">
  <h3>Add Rating</h3>
  <div style="text-align: center">
    <ul>
      <li></li>
    </ul>
    <button class="btn btn-danger input-round" type="button" (click)="clickDelete()" >Yes</button>
  </div>
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn">
    <i class="icofont icofont-ui-close"></i>
  </button>

</app-modal-animation> -->

<app-modal-animation [modalID]="'effect-6'" [modalClass]="'md-effect-2'">
  <h3 style="font-size: 26px;">Rating This Booking</h3>
  <div class="row">
    <div class="col-sm-12">
      <fieldset>
        <div class="form-group row">
          <label class="col-lg-4 col-md-4 col-sm-12 col-form-label">Rating</label>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <ngb-rating [(rate)]="FormRating.rating_trainer">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
          </div>
          
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-md-4 col-sm-12 col-form-label">Description</label>
          <div class="col-lg-8 col-md-8 col-sm-12">
          <textarea class="form-control input-round" style="min-height: 100px; max-height: 200px" [(ngModel)]="FormRating.review"></textarea>
          </div>
      </div>
      </fieldset>
    </div>
    <button class="btn btn-success input-round col-sm-6" type="button" (click)="submitRating()" >Submit</button>
  </div>
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn">
    <i class="icofont icofont-ui-close"></i>
  </button>

</app-modal-animation>
<app-modal-animation [modalID]="'effect-2'" [modalClass]="'md-effect-2'">
  <h3 style="font-size: 26px;">Verify This Booking</h3>
  <div class="row">
    <div class="col-sm-12">
      <fieldset>
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="text-center" *ngIf="FormConfirmBooking.url_payment == ''">
                <img class="img-fluid" src="assets/images/mufit logo with border.png" style="max-width:100%; max-height:200px"/>
            </div>
            <div class="text-center">
                <img class="img-fluid img-ph" src="{{FormConfirmBooking.url_payment}}" style="max-width:100%;"/>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-md-4 col-sm-12 col-form-label" >Upload Proof of Payment</label>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <input type="file" class="col-form-label m-t-5" (change)="uploadBukti($event)" accept="image/*" [(ngModel)]="imgBukti"><br>
          </div>
        </div>
        <!-- EMAIL -->
        <div class="form-group row" [formGroup]="form">
          <label class="col-lg-4 col-md-4 col-sm-12 col-form-label">Email</label>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <input type="email" class="form-control col-form-label m-t-5 input-round" [(ngModel)]="FormConfirmBooking.email" formControlName="customerEmail"/>
            <div class="m-t-5" style="color:red" *ngIf="customerEmail.invalid">
              <div *ngIf="customerEmail.errors.required && customerEmail.touched">Email is required</div>
              <div *ngIf="customerEmail.errors.pattern">Email is invalid</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-4 col-md-4 col-sm-12 col-form-label">Description</label>
          <div class="col-lg-8 col-md-8 col-sm-12">
          <textarea class="form-control input-round" style="min-height: 90px; max-height: 200px" [(ngModel)]="FormConfirmBooking.description"></textarea>
          </div>
        </div>
      </fieldset>
    </div>
    <button class="btn btn-success input-round col-sm-6" type="button" (click)="clickSubmit()" >Submit</button>
  </div>
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn">
    <i class="icofont icofont-ui-close"></i>
  </button>

</app-modal-animation>