<div class="container-fluid">
  <div class="row">
      <div class="col-sm-10 col-xs-12 head">
        <h4>
          Admin Detail
        </h4>
      </div><br><br>
      <div class="col-lg-2 col-xs-12">
        <button class="btn btn-info input-round btn-block"(click)="editDetail()">Edit Profile</button>
      </div>
  </div>
</div> <br>
<app-card>
  <div class="row"><ng-snotify class="material"></ng-snotify>
     <div class="col-sm-12 col-md-6">
        <fieldset>
           <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="name" >Name
              </label>
              <div class="col-sm-8">
                 <input type="text" class="form-control input-round" readonly [(ngModel)]="admin.full_name">
              </div>
           </div>
           <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="name" >Username
              </label>
              <div class="col-sm-8">
                 <input type="text" class="form-control input-round" readonly [(ngModel)]="admin.username">
              </div>
           </div>
           <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="email">Email
              </label>
              <div class="col-sm-8">
                 <input type="email" class="form-control input-round" readonly [(ngModel)]="admin.email">
              </div>
           </div>
           <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="address">Address
              </label>
              <div class="col-sm-8">
                <textarea rows="2" cols="3" class="form-control input-round" readonly [(ngModel)]="admin.address"></textarea>
              </div>
           </div>
        </fieldset>
     </div>
     <div class="col-sm-12 col-md-6">
        <fieldset>
           <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="since">No. KTP
              </label>
              <div class="col-sm-8">
                 <input name="since" type="text" class="form-control input-round" readonly [(ngModel)]="admin.no_ktp">
              </div>
           </div>
           <div class="form-group row">
               <label class="col-sm-4 col-form-label" for="admin.url_ktp">KTP Picture</label>
               <div class="col-sm-8">
                 <img src="{{admin.url_ktp}}" style="width: 200px; height: 133px;">
               </div>
           </div>
           <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="status">No. NPWP
              </label>
              <div class="col-sm-8">
                 <input name="status" type="text" class="form-control input-round" readonly [(ngModel)]="admin.no_npwp">
              </div>
           </div>
           <div class="form-group row">
               <label class="col-sm-4 col-form-label" for="admin.url_npwp">NPWP Picture</label>
               <div class="col-sm-8">
                 <img src="{{admin.url_npwp}}" style="width: 200px; height: 133px;">
               </div>
           </div>
        </fieldset>
     </div>
  </div>
</app-card>
