<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h4>List Voucher</h4>
      </div>
      <div class="col-sm-6 col-12 my-auto">
        <div style="text-align:right;" class="form-group">
          <button class="btn input-round btn-success " type="button" routerLink="/voucher/add">Add Voucher</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <app-card>

      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6 col-6">
                  <div style="text-align:left;">
                      <div class="form-group">
                          <input class="form-control cust-search-button" #query (keyup)="getSearch(query.value)" placeholder="Search Voucher" type="text"
                          />
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-6 col-6">
                  <div style="text-align:right;">
                      <div class="form-group">
                          <label for="show">Show</label>
                          <select class="form-control input-sm full-data-show-entry cust-select" name="select" id="show" (change)="onChange($event.target.value)">
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="75">75</option>
                          </select>
                      </div>
                  </div>
              </div>
              <br>
          </div>
  
          <div class="table-responsive">
              <table class="table table-stripped table-hover">
                  <thead>
                      <tr>
                          <th>Voucher Code</th>
                          <th>Expire Date</th>
                          <th>Type</th>
                          <th>Quantity</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr routerLink="/voucher/detail/{{a.id}}" *ngFor="let a of vouchers">
                          <td>{{a.code}}</td>
                          <td>{{a.end_date}}</td>
                          <td>{{a.type}}</td>
                          <td>{{a.quantity}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
  
          <div class="justify-content-center">
              <span class="test-pagination">Page</span>
              <ngb-pagination [collectionSize]="totalItems" [pageSize]="limit" [(page)]="page" (pageChange)="loadPage($event)" aria-label="Default pagination"
                  [directionLinks]="false"></ngb-pagination>
          </div>
  
      </div>
  
  
  </app-card>
