.input-round{
    border-radius: 6px;
}
.cust-select {
    margin-left: 10px;
    /* margin-top: 10px; */
    border-radius: 10px;
}

.pagination{
    justify-content: center;
}

.pagination a{
    color: gray;
}

.pagination a:hover{
    color: black;
}

.cust-pag-list a{
    margin-left: 7px;
}

.cust-search-button{
    /* margin-left: 15px; */
    border-radius: 6px;
    /* margin-right: 15px; */
    /* width: 200px; */
}

.cust-op{
    border-radius: 10px;
}

.justify-content-center {
    display: flex !important;
    justify-content: center !important;
    max-height: 30px;
}






/* ngb-pagination /deep/ .page-link {
     
} */

ngb-pagination /deep/ .page-link { 
    border: none;
}

ngb-pagination /deep/ .page-item .page-link{
    background-color: inherit;
    color: black;
    margin-left: 5px;
    margin-right: -15px;
}

ngb-pagination /deep/ .page-item.active .page-link { 
    color: orange;
    font-weight: bold;
}

.test-pagination{
    margin-top: 5.8px;
    /* margin-top: 0.6%; */
    /* padding-top: 5.8px; */
    /* margin-top: 14px; */
}

@media only screen and (max-width: 600px) {
    .test-pagination{
        margin-top: 15px;
    }
    .shw{
        visibility: hidden;
    }
}