<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h4>Admin List</h4>
    </div>
    <!-- <div class="col-sm-6">
      <div style="text-align:right;">
        <div class="form-group cust-btn">
          <button class="btn btn-success btn-cb" type="button"
            routerLink="/booking/create">Admin List</button>
        </div>
      </div>
    </div> -->
  </div>
</div><br>
<app-card>
  <div class="container-fluid">
    <div class="row">

        <div class="col-lg-6 col-6">
            <div style="text-align:left;">
                <div class="form-group">
                    <input class="form-control cust-search-button" #query (keyup)="getSearch(query.value)" placeholder="Find here.." type="text"
                    />
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-6">
            <div style="text-align:right;">
                <div class="form-group">
                    <label for="show">Show</label>
                    <select class="form-control input-sm full-data-show-entry cust-select" name="select" id="show" (change)="onChange($event.target.value)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="75">75</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="table-responsive">
      <table class="table table-stripped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>No KTP</th>
            <th>No NPWP</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of admins" routerLink="/admin/detail/{{admin.id}}">
            <td>{{admin.full_name}}</td>
            <td>{{admin.email}}</td>
            <td>{{admin.address}}</td>
            <td>{{admin.no_ktp}}</td>
            <td>{{admin.no_npwp}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="justify-content-center testtt">
      <span class="test-pagination">Page</span>
      <ngb-pagination [collectionSize]="totalItems" [pageSize]="limit"
        [(page)]="page" (pageChange)="loadPage($event)" aria-label="Default
        pagination"
        [directionLinks]="false"></ngb-pagination>
    </div>

  </div>
</app-card>
